@CHARSET "UTF-8";

.centerContainer {
	padding: 1em;
}

.header {
	background: rgb(255, 255, 255); /* Old browsers */
	background: \-moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* FF3.6+ */
	background: \-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(100%, rgba(239, 239, 239, 1) ) );
	/* Chrome,Safari4+ */
	background: \-webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: \-o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* Opera 11.10+ */
	background: \-ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* IE10+ */
	filter: progid\:DXImageTransform\.Microsoft\.gradient(startColorstr\='#ffffff', endColorstr\='#efefef', GradientType\=0 ); /* IE6-9 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(239, 239, 239, 1) 100% ); /* W3C */
}

.header .logo {
	height: 2.5em;
}

.header .stats {
	font-size: 1.2em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	position: absolute;
	right: 0.5em;
	top: 0.8em;
}

.header .menuBar {
	float: left;
	width: 50em;
}

.header .logoBar {
	float: left;
	width: 25em;
}

.changePassword {
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	color: #333;
	margin: 0.8em 0 0 2em;
}

.changePassword:HOVER {
	font-weight: bold;
}

.header .exitButton {
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	color: #333;
	margin: 0.8em 0 0 2em;
}

.header .exitButton:HOVER {
	font-weight: bold;
}

.header .homeButton {
	height: 2.5em;
	width: 8em;
}

.header .myDataButton {
	height: 2.5em;
	width: 8em;
	margin-left: 0.5em;
}

.header .productName {
	font-size: 2.5em;
	font-weight: bold;
	cursor: pointer;
	margin-left: 0.5em;
}

.header .clients,.header .invoices,.header .totalAmount	{
	margin-left: 2.5em;
}

.header .value {
	margin-left: 0.7em;
	font-weight: bold;
}

.westContainer {
	border-right: 1px solid #EEE;
}