<div class="n-business-form">
	 <form name="form" role="form" class="form-horizontal" novalidate>
	 
	   <div class="form-body">
	
		    <div class="form-group" ng-class="{'has-error': form.name.$dirty && form.name.$invalid, 'has-success': form.name.$dirty && form.name.$valid}">
		        <label class="col-md-4 control-label" for="name">{{'COMPANY_NAME' | translate}} *</label>
		        <div class="col-md-8">
		            <textarea rows="2" class="form-control" name="name" maxlength="255" ng-model="business.name" 
                        placeholder="{{'COMPANY_NAME_PLACEHOLDER' | translate}}" required></textarea>
                    <div ng-show="form.name.$dirty && form.name.$invalid">
	                    <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
	                </div>
                </div> 
		    </div>
		    
		    <div class="text-center" ng-show="!fullValidation">
		      <span ng-show="!showAll" style="color: gray; cursor: pointer" ng-click="showAll=true" ><i class="fa fa-angle-double-down"></i> {{'HELLO_DIALOG_SHOW_ALL' | translate}}</span>
		    </div>
		    
		    <div collapse="!fullValidation && !showAll">
		    
			    <div class="form-group" ng-class="{'has-error': form.ssn.$dirty && form.ssn.$invalid, 'has-success': form.ssn.$dirty && form.ssn.$valid}">
	                <label class="col-md-4 control-label" for="ssn">{{'SSN_EXTENDED' | translate}} <span ng-show="fullValidation">*</span></label>
	                <div class="col-md-8">
	                    <input n-ssn-or-vat-id class="form-control" type="text" name="ssn" maxlength="25" ng-model="business.ssn" 
	                        placeholder="{{'SSN_PLACEHOLDER' | translate}}" ng-required="fullValidation">
	                    <div ng-show="form.ssn.$dirty && form.ssn.$invalid">
	                        <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div class="form-group" ng-class="{'has-error': form.vatId.$dirty && form.vatId.$invalid, 'has-success': form.vatId.$dirty && form.vatId.$valid}">
	                <label class="col-md-4 control-label" for="vatId">{{'VATID' | translate}} <span ng-show="fullValidation">*</span></label>
	                <div class="col-md-8">
	                    <input n-vat-id class="form-control" type="text" name="vatId" maxlength="25" ng-model="business.vatID" 
	                        placeholder="{{'VATID_PLACEHOLDER' | translate}}" ng-required="fullValidation">
	                    <div ng-show="form.vatId.$dirty && form.vatId.$invalid">
	                        <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div class="form-group" ng-class="{'has-error': form.address.$dirty && form.address.$invalid, 'has-success': form.address.$dirty && form.address.$valid}">
	                <label class="col-md-4 control-label" for="address">{{'ADDRESS' | translate}} <span ng-show="fullValidation">*</span></label>
	                <div class="col-md-8">
	                    <input class="form-control" type="text" name="address" maxlength="255" ng-model="business.address" 
	                        placeholder="{{'ADDRESS_PLACEHOLDER' | translate}}" ng-required="fullValidation">
	                    <div ng-show="form.address.$dirty && form.address.$invalid">
	                        <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div class="form-group" ng-class="{'has-error': form.city.$dirty && form.city.$invalid, 'has-success': form.city.$dirty && form.city.$valid}">
	                <label class="col-md-4 control-label" for="city">{{'CITY' | translate}} <span ng-show="fullValidation">*</span></label>
	                <div class="col-md-8">
	                    <input class="form-control" type="text" name="city" maxlength="60" ng-model="business.city" 
	                        placeholder="{{'CITY_PLACEHOLDER' | translate}}" ng-required="fullValidation">
	                    <div ng-show="form.city.$dirty && form.city.$invalid">
	                        <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div class="form-group" ng-class="{'has-error': form.postcode.$dirty && form.postcode.$invalid, 'has-success': form.postcode.$dirty && form.postcode.$valid}">
	                <label class="col-md-4 control-label" for="postcode">{{'POSTCODE' | translate}} <span ng-show="fullValidation">*</span></label>
	                <div class="col-md-8">
	                    <input class="form-control" type="text" name="postcode" maxlength="10" ng-model="business.postcode" 
	                        placeholder="{{'POSTCODE_PLACEHOLDER' | translate}}" ng-required="fullValidation">
	                    <div ng-show="form.postcode.$dirty && form.postcode.$invalid">
	                        <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div class="form-group" ng-class="{'has-error': form.province.$dirty && form.province.$invalid, 'has-success': form.province.$dirty && form.province.$valid}">
	                <label class="col-md-4 control-label" for="province">{{'PROVINCE' | translate}} <span ng-show="fullValidation">*</span></label>
	                <div class="col-md-8">
	                    <input class="form-control" type="text" name="province" maxlength="100" ng-model="business.province" 
	                        placeholder="{{'PROVINCE_PLACEHOLDER' | translate}}" ng-required="fullValidation">
	                    <div ng-show="form.province.$dirty && form.province.$invalid">
	                        <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div class="form-group" ng-class="{'has-error': form.country.$dirty && form.country.$invalid, 'has-success': form.country.$dirty && form.country.$valid}">
	                <label class="col-md-4 control-label" for="country">{{'COUNTRY' | translate}} <span ng-show="fullValidation">*</span></label>
	                <div class="col-md-8">
	                    <select class="form-control" name="country" ng-model="business.country" ng-required="fullValidation">
	                        <option value="IT">Italia</option>
	                    </select>
	                    <div ng-show="form.country.$dirty && form.country.$invalid">
	                        <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div ng-show="fullValidation" class="form-group" ng-class="{'has-error': form.phone.$dirty && form.phone.$invalid, 'has-success': form.phone.$dirty && form.phone.$valid}">
	                <label class="col-md-4 control-label" for="phone">{{'TELEPHONE' | translate}}</label>
	                <div class="col-md-8">
	                    <input class="form-control" type="text" name="phone" maxlength="25" ng-model="business.phone" 
	                        placeholder="{{'TELEPHONE_PLACEHOLDER' | translate}}">
	                    <div ng-show="form.phone.$dirty && form.phone.$invalid">
	                        <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div ng-show="fullValidation" class="form-group" ng-class="{'has-error': form.mobile.$dirty && form.mobile.$invalid, 'has-success': form.mobile.$dirty && form.mobile.$valid}">
	                <label class="col-md-4 control-label" for="mobile">{{'MOBILE' | translate}}</label>
	                <div class="col-md-8">
	                    <input class="form-control" type="text" name="mobile" maxlength="25" ng-model="business.mobile" 
	                        placeholder="{{'MOBILE_PLACEHOLDER' | translate}}">
	                    <div ng-show="form.mobile.$dirty && form.mobile.$invalid">
	                        <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div ng-show="fullValidation" class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$invalid, 'has-success': form.email.$dirty && form.email.$valid}">
	                <label class="col-md-4 control-label" for="email">{{'EMAIL' | translate}}</label>
	                <div class="col-md-8">
	                    <input class="form-control" type="email" name="email" maxlength="255" ng-model="business.email" 
	                        placeholder="{{'EMAIL_PLACEHOLDER' | translate}}">
	                    <div ng-show="form.email.$dirty && form.email.$invalid">
	                        <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div ng-show="fullValidation" class="form-group" ng-class="{'has-error': form.fax.$dirty && form.fax.$invalid, 'has-success': form.fax.$dirty && form.fax.$valid}">
	                <label class="col-md-4 control-label" for="fax">{{'FAX' | translate}}</label>
	                <div class="col-md-8">
	                    <input class="form-control" type="text" name="fax" maxlength="25" ng-model="business.fax" 
	                        placeholder="{{'FAX_PLACEHOLDER' | translate}}">
	                    <div ng-show="form.fax.$dirty && form.fax.$invalid">
	                        <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
	            <div ng-show="fullValidation" class="form-group" ng-class="{'has-error': form.web.$dirty && form.web.$invalid, 'has-success': form.web.$dirty && form.web.$valid}">
	                <label class="col-md-4 control-label" for="web">{{'WEBSITE' | translate}}</label>
	                <div class="col-md-8">
	                    <input class="form-control" type="text" name="web" maxlength="255" ng-model="business.web" 
	                        placeholder="{{'WEBSITE_PLACEHOLDER' | translate}}">
	                    <div ng-show="form.web.$dirty && form.web.$invalid">
	                        <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
	                    </div>
	                </div> 
	            </div>
	            
            <div class="text-center" ng-show="!fullValidation">
              <span ng-show="showAll" style="color: gray; cursor: pointer;" ng-click="showAll=false"><i class="fa fa-angle-double-up"></i> {{'HIDE' | translate}}</span>
            </div>
            
            </div>
            
            <span>* {{'VALIDATION_REQUIRED' | translate}}</span>
	    
	    </div>
	    
	    <div class="form-actions fluid">
            <div class="col-md-offset-5 col-md-2">
                <button type="button" class="btn green" ng-disabled="form.$invalid" ng-click="saveOrUpdate(); form.$setPristine();">{{'SAVE_CHANGES' | translate}}</button>
            </div>
        </div>
	    
	</form>
</div>