<div class="n-business-dialog">
	<div class="modal-header">
	   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
	   <h2 class="modal-title text-center">{{'BUSINESS_DIALOG_TITLE' | translate}}</h2>
	</div>
	<div class="modal-body">
	   <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info text-center">{{'ALERT_MISSING_BUSINESS_INFO' | translate}}</div>                          
       </div>
	   
	   <n-business-form callback="businessUpdateCallback()" business="business" fields-to-show="mandatory"></n-business-form>
	</div>

</div>
