<div class="n-edit-commodity-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{'COMMODITY' | translate}}</h4>
    </div>
    <div class="modal-body">
        <form name="form" role="form" style="margin-top: 20px;" novalidate>

           <div class="form-group" ng-class="{'has-success': form.service.$dirty}">
               <label class="control-label" for="service">{{'TYPE' | translate}} *</label>
               <select class="form-control" name="service" ng-model="$parent.service" required>
                   <option value="false">{{'PRODUCT' | translate}}</option>
                   <option value="true">{{'SERVICE' | translate}}</option>
               </select>
               <div ng-show="form.service.$dirty && form.service.$invalid">
                   <span class="text-danger" ng-show="form.service.$error.required">{{'VALIDATION_REQUIRED' | translate}}</span>
               </div>
           </div>
       
           <div class="form-group" ng-class="{'has-error': form.description.$dirty && form.description.$invalid, 'has-success': form.description.$dirty && form.description.$valid}">
               <label class="control-label" for="description">{{'DESCRIPTION' | translate}} *</label> 
               <input type="text" name="description" maxlength="255" ng-model="commodity.description" class="form-control" placeholder="{{'DESCRIPTION_PLACEHOLDER' | translate}}" required>
               <div ng-show="form.description.$dirty && form.description.$invalid">
                   <span class="text-danger" ng-show="form.description.$error.required">{{'VALIDATION_REQUIRED' | translate}}</span>
               </div>
           </div>
       
           <div class="form-group" 
                ng-class="{'has-error': form.sku.$dirty && form.sku.$invalid, 'has-success': form.sku.$dirty && form.sku.$valid}">
               <label class="control-label" for="sku">{{'SKU' | translate}}</label> 
               <input type="text" n-sku-input name="sku" maxlength="50" orig-sku="commodity.sku" ng-model="commodity.sku" class="form-control" placeholder="{{'SKU_PLACEHOLDER' | translate}}">
               <div ng-show="form.sku.$dirty && form.sku.$invalid || $parent.invalidSku">
	               <span class="text-danger" ng-show="form.sku.$dirty && form.sku.$error.notReserved">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
	               <span class="text-danger" ng-show="$parent.invalidSku">{{'VALIDATION_SKU_TAKEN' | translate}}</span>
	               <span class="text-danger" ng-show="form.sku.$dirty && form.sku.$error.skuRequired">{{'VALIDATION_REQUIRED' | translate}}</span>
               </div>
           </div>
           
           <div class="form-group" ng-class="{'has-success': form.unitOfMeasure.$dirty && form.unitOfMeasure.$valid}">
               <label class="control-label" for="unitOfMeasure">{{'UNIT_OF_MEASURE' | translate}}</label> 
               <input type="text" name="unitOfMeasure" maxlength="50" ng-model="commodity.unitOfMeasure" class="form-control" placeholder="{{'UNIT_OF_MEASURE_PLACEHOLDER' | translate}}">
           </div>
           
           <div class="form-group" 
               ng-class="{'has-error': form.price.$dirty && form.price.$invalid && form.price.$error.price, 'has-success': form.price.$dirty && form.price.$valid && !form.price.$error.price}">
               <label class="control-label" for="price">{{'DEFAULT_PRICE' | translate}} (€) *</label> 
               <input type="text" n-smart-price name="price" maxlength="50" ng-model="$parent.price" class="form-control" placeholder="{{'DEFAULT_PRICE_PLACEHOLDER' | translate}}" required>
               <div ng-show="form.price.$dirty && form.price.$invalid">
                   <span class="text-danger" ng-show="!form.price.$error.price && form.price.$error.required">{{'VALIDATION_REQUIRED' | translate}}</span>
                   <span class="text-danger" ng-show="form.price.$error.price">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
               </div>
           </div>
           
           <div class="form-group" 
              ng-class="{'has-error': form.tax.$dirty && form.tax.$invalid && form.tax.$error.tax, 'has-success': form.tax.$dirty && form.tax.$valid && !form.tax.$error.tax}">
               <label class="control-label" for="tax">% {{'TAX' | translate}} *</label> 
               <input type="text" n-smart-tax name="tax" maxlength="50" ng-model="commodity.tax" class="form-control" placeholder="{{'TAX_PLACEHOLDER' | translate}}" required>
               <div ng-show="form.tax.$dirty && form.tax.$invalid">
                   <span class="text-danger" ng-show="!form.tax.$error.tax && form.tax.$error.required">{{'VALIDATION_REQUIRED' | translate}}</span>
                   <span class="text-danger" ng-show="form.tax.$error.tax">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
               </div>
           </div>
           
           <div ng-show="service === 'false' || !service" class="form-group" 
              ng-class="{'has-error': form.tax.$dirty && form.weight.$invalid, 'has-success': form.tax.$dirty && form.tax.$valid}">
               <label class="control-label" for="weight">{{'WEIGHT' | translate}}</label> 
               <input type="text" n-smart-float positive-float name="weight" maxlength="50" ng-model="commodity.weight" class="form-control" placeholder="{{'WEIGHT_PLACEHOLDER' | translate}}">
               <div ng-show="form.weight.$dirty && form.weight.$invalid">
                   <span class="text-danger" >{{'VALIDATION_INVALID_VALUE' | translate}}</span>
               </div>
           </div>
           
       </form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn green" ng-disabled="form.$invalid" ng-click="save()">{{'CONTINUE' | translate}}</button>
        <button type="button" class="btn" data-dismiss="modal" ng-click="cancel()">{{'CANCEL' | translate}}</button>
    </div>
</div>