<div class="n-item-form">
    <label>
        <input type="checkbox" ng-model="textOnly"> {{'TEXT_ONLY_ITEM' | translate}}
    </label>
    
    <br>
    
    <form class="form-inline" name="textOnlyForm" ng-show="textOnly" role="form" novalidate>
        <div class="form-group">
            <label for="txt">{{'TEXT' | translate}} *</label>
            <textarea
              n-focus-if="focusedInput==='textOnlyDescription'"
              name="textOnlyDescription"
              style="display: block;"
              maxlength="500"
              ng-show="textOnly"
              ng-model="item.description" 
              class="form-control input-large" 
              id="txt" required></textarea>
              <div ng-show="textOnlyForm.textOnlyDescription.$dirty && textOnlyForm.textOnlyDescription.$invalid">
                  <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
              </div>
        </div>
        <div class="form-group">
            <label>&nbsp;</label><br>
            <button
                ng-disabled="textOnlyForm.$invalid "
                type="button" 
                class="btn btn-success" 
                ng-click="addTextOnlyItem()">{{'ADD_TO' | translate}}</button>
        </div>
    </form>


	<form class="form-inline" name="form" ng-submit="addItem()" ng-show="!textOnly" role="form" novalidate>
	    <script type="text/ng-template" id="itemTemplate.html">
            <a>[<span bind-html-unsafe="match.label | nReplaceReservedWord:' - ' | typeaheadHighlightPrefix:query"></span>] <span bind-html-unsafe="match.model.description | typeaheadHighlightPrefix:query"></span></a>
	    </script>
		
		<div class="form-group">
			<label for="description">{{'DESCRIPTION' | translate}} *</label>
			<textarea
			  ng-if="PREMIUM"
              n-focus-if="focusedInput==='description'"
              ng-focus="focusedInput='description'"
              name="description"
              id="description"
              style="display: block;"
              maxlength="500"
              ng-show="selectedCommodity === null"
              ng-model="item.description" 
              typeahead="comm as comm.sku for comm in commodities | filter:$viewValue:commodityComparator | limitTo:10"
              typeahead-template-url="itemTemplate.html"
              typeahead-on-select="onCommoditySelected($item, $model, $label)"
              class="form-control input-large" 
              id="description" required></textarea>
			<textarea
			  ng-if="!PREMIUM"
			  n-focus-if="focusedInput==='description'"
			  ng-focus="focusedInput='description'"
			  name="description"
			  id="description"
			  style="display: block;"
			  maxlength="500"
			  ng-model="item.description" 
			  class="form-control input-large" 
			  id="description" required></textarea>
		   <div ng-show="form.description.$dirty && form.description.$invalid">
               <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
           </div>
		   <a class="btn btn-xs btn-primary"
		       ng-if="PREMIUM"
		       ng-click="openSelectCommodityDialog()"
		       ng-show="selectedCommodity === null">{{'ADVANCED_SELECTION' | translate}}...</a>
		   <div
		       ng-if="PREMIUM"
		       class="autocompletion-selected-commodity form-control-static input-large"
		       ng-show="selectedCommodity !== null" 
		       type="primary" >
		       <span class="close" ng-click="resetData();resetForm();">X</span>
		       <span class="label label-default label-sm" ng-if="!isReservedWord(selectedCommodity.sku)">{{selectedCommodity.sku}}</span> {{selectedCommodity.description}}
	       </div>
		</div>
		<div class="form-group">
	        <label for="unitOfMeasure">{{'UNIT_OF_MEASURE_SHORT' | translate}}</label><br>
	        <input ng-focus="focusedInput='unitOfMeasure'" name="unitOfMeasure" ng-model="item.unitOfMeasure" type="text" class="form-control input-small" id="unitOfMeasure" >
	    </div>
	    <div class="form-group">
	        <label for="quantity">{{'QUANTITY' | translate}} *</label><br>
	        <input ng-focus="focusedInput='quantity'" n-focus-if="focusedInput==='quantity'" name="quantity" n-smart-float ng-model="item.quantity" type="text" class="form-control input-small" id="quantity" required>
	        <div ng-show="form.quantity.$dirty && form.quantity.$invalid">
               <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
           </div>
	    </div>
	    <div class="form-group" ng-show="manageWeight !== 'false'">
	        <label for="weight">{{'WEIGHT' | translate}}</label> <br>
	        <input ng-focus="focusedInput='weight'" name="weight" n-smart-float ng-model="item.weight" type="text" class="form-control input-small" id="weight">
	        <div ng-show="form.weight.$dirty && form.weight.$invalid">
               <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
           </div>
	    </div>
	    <div class="form-group">
	        <label for="price">{{'PRICE' | translate}} *</label><br> 
	        <input ng-focus="focusedInput='price'" name="price" n-smart-price ng-model="item.price" type="text" class="form-control input-small" id="price" required>
	        <div ng-show="form.price.$dirty && form.price.$invalid">
               <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
           </div>
	    </div>
	    <div class="form-group">
	        <label for="discount">{{'DISCOUNT_OVERPRICING_SHORT' | translate}}</label><br> 
	        <input ng-focus="focusedInput='discount'" name="discount" n-smart-float ng-model="item.discount" type="text" class="form-control input-small" id="discount">
	        <div ng-show="form.discount.$dirty && form.discount.$invalid">
               <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
           </div>
	    </div>
	    <div class="form-group">
	        <label for="tax">{{'VAT' | translate}} *</label><br> 
	        <input ng-focus="focusedInput='tax'" name="tax" n-smart-tax ng-model="item.tax" type="text" class="form-control input-small" id="tax" required>
	        <div ng-show="form.tax.$dirty && form.tax.$invalid">
               <span class="text-danger">{{'VALIDATION_INVALID_VALUE' | translate}}</span>
           </div>
	    </div>
	    <div class="form-group">
	        <label>&nbsp;</label><br>
	        <button ng-disabled="form.$invalid "
	            type="submit" 
	            class="btn btn-success" 
	            >{{'ADD_TO' | translate}}</button>
	    </div>
	</form>
	<br>
	<small>* {{'VALIDATION_REQUIRED' | translate}}</small>
	<div class="text-right">   
        <label ng-show="explicitDiscount !== 'false'">
            <input type="checkbox" ng-model="explicitDiscountCheck"> <small>{{'EXPLICIT_DISCOUNT_CHECK' | translate}}</small>
        </label>
    </div>
</div>
