<div class="n-send-email-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{'SEND_EMAIL_TO_CLIENT' | translate}}</h4>
    </div>
    <div class="modal-body">
        <n-premium-alert></n-premium-alert>
        <form name="form" role="form" novalidate>
            
            <div class="form-group" ng-class="{'has-error': form.toAddress.$dirty && form.toAddress.$invalid, 'has-success': form.toAddress.$dirty && form.toAddress.$valid}">
                <label n-premium-check class="control-label" for="toAddress">{{'EMAIL_TO_ADDRESS' | translate}} *</label> 
                <input n-premium-check type="email" name="toAddress" maxlength="255" ng-model="$parent.data.to" class="form-control" placeholder="{{'EMAIL_PLACEHOLDER' | translate}}" required>
                <div ng-show="form.toAddress.$dirty && form.toAddress.$invalid">
                    <span class="text-danger" ng-show="form.toAddress.$error.required">{{'VALIDATION_REQUIRED' | translate}}</span> 
                </div>
            </div>
            
            <div class="form-group" ng-class="{'has-error': form.replyToAddress.$dirty && form.replyToAddress.$invalid, 'has-success': form.replyToAddress.$dirty && form.replyToAddress.$valid}">
                <label n-premium-check class="control-label" for="replyToAddress">{{'EMAIL_REPLY_TO_ADDRESS' | translate}} *</label> 
                <input n-premium-check type="email" name="replyToAddress" maxlength="255" ng-model="$parent.data.replyTo" class="form-control" placeholder="{{'EMAIL_PLACEHOLDER' | translate}}" required>
                <div ng-show="form.replyToAddress.$dirty && form.replyToAddress.$invalid">
                    <span class="text-danger" ng-show="form.replyToAddress.$error.required">{{'VALIDATION_REQUIRED' | translate}}</span> 
                </div>
            </div>
            
            <div class="form-group" ng-class="{'has-error': form.emailSubject.$dirty && form.emailSubject.$invalid, 'has-success': form.emailSubject.$dirty && form.emailSubject.$valid}">
                <label n-premium-check class="control-label" for="emailSubject">{{'BUSINESS_OPTION_EMAIL_SUBJECT' | translate}} *</label> 
                <textarea n-premium-check type="text" name="emailSubject" maxlength="78" ng-model="$parent.data.subject" class="form-control" required></textarea>
                <div ng-show="form.emailSubject.$dirty && form.emailSubject.$invalid">
                    <span class="text-danger" ng-show="form.emailSubject.$error.required">{{'VALIDATION_REQUIRED' | translate}}</span> 
                </div>
            </div>
            
            <div class="form-group" ng-class="{'has-error': form.emailText.$dirty && form.emailText.$invalid, 'has-success': form.emailText.$dirty && form.emailText.$valid}">
                <label n-premium-check class="control-label" for="emailText">{{'BUSINESS_OPTION_EMAIL_TEXT' | translate}} *</label> 
                <textarea n-premium-check type="text" name="emailText" maxlength="1000" rows="10" ng-model="$parent.data.message" class="form-control" required></textarea>
                <div ng-show="form.emailText.$dirty && form.emailText.$invalid">
                    <span class="text-danger" ng-show="form.emailText.$error.required">{{'VALIDATION_REQUIRED' | translate}}</span> 
                </div>
            </div>
            
        </form>
    </div>

    <div class="modal-footer">
        <button n-premium-check type="button" class="btn green" ng-disabled="form.$invalid" ng-click="save()">{{'CONTINUE' | translate}}</button>
        <button type="button" class="btn" data-dismiss="modal" ng-click="cancel()">{{'CANCEL' | translate}}</button>
    </div>
</div>
