<div class="n-select-client-dialog">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">&times;</button>
		<h4 class="modal-title">{{'SELECT_CLIENT' | translate}}</h4>
	</div>
	<div class="modal-body">
	   <form name="form" role="form" novalidate>
	        <button type="button" class="btn green" ng-click="newClientClick()" ng-show="allowNewClient && !newClientMode">
              {{'NEW_CLIENT_SUGGESTION' | translate}}
            </button>
            
            <br ng-show="allowNewClient && !newClientMode">
			
			<div class="clients-filter input-icon left" >
				<i ng-show="!newClientMode" class="fa fa-search"></i> 
				<input type="text" class="form-control input-large" name="inp" autofocus="autofocus" type="text"
					placeholder="{{newClientMode ? ('INSERT_CLIENT_NAME' | translate) : ('FILTER' | translate)+'...'}}" 
					ng-required="newClientMode" ng-model="query">
			</div>
			
			<button type="button" class="btn green new-client" ng-click="createNewClient()" ng-show="newClientMode" 
			  ng-disabled="form.$invalid">
			  {{'CONTINUE' | translate}}
			</button>
			<button type="button" class="btn default cancel" ng-click="cancelNewClientClick()" ng-show="newClientMode">
			  {{'CANCEL' | translate}}
			</button>
        </form>
        <div class="similar-clients-message" ng-show="allowNewClient && newClientMode">{{'SIMILAR_CLIENTS' | translate}}</div>

        <div class="text-center text-muted" ng-show="!allowNewClient && !newClientMode && loadedClientsCount === 0">
            <br />
            <br />
            <br />
            <br />
            <div>{{'SELECT_CLIENT_ALERT' | translate}}</div>
            <button type="button" class="btn btn-sm green" ng-click="addClientClick()">
                {{'NEW_CLIENT' | translate}}
            </button>
        </div>

		<div class="scroller" n-div-infinite-scroll="loadMoreClients()">
			<div ng-repeat="c in clients" class="well well-sm client" ng-click="select(c.id)">{{c.name}}</div>
		</div>
	</div>
</div>