<html>
<head>
<style>
* {
    font-family: Arial, sans-serif, serif;
    font-size: 14px;
}

body {
	padding: 2em;
}

.logo{
    color: #445058;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-decoration: none;
}
</style>
</head>
<body>
<h2 class="logo">Novabill - Attivazione Account</h2>

<p>Per concludere la procedura di registrazione per favore premi su <a target="_blank" href="${activationLink}">questo link</a><br>
Alternativamente copia e incolla questa url nel tuo browser ${activationLink}</p>

<p>Nota: dovrai attivare il tuo account entro le prossime ${activationPeriod} ore.</p>

<p>Grazie :)<br> 
Il team di Novabill</p>

</body>

</html>