<html>
<head>
<style>
* {
    font-family: Arial, sans-serif, serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
    color: blue;
}

a:HOVER {
    text-decoration: underline;
}

body {
	padding: 1em;
}

.logo{
    color: #445058;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-decoration: none;
}

.footer * {
    font-size: 14px;
}


.footer .wwa {
    margin-left: 1em;
}
</style>
</head>
<body>
<h2 class="logo">Novabill - Creazione Nuova Password</h2>
<hr>
<br>
<p>Per creare una nuova password per favore premi su <a target="_blank" href="${passwordRecoveryLink}">questo link</a>.<p>

<p>Alternativamente, puoi copiare e incollare nella barra degli indirizzi del tuo browser (il programma che usi per navigare in internet) l'url sottostante:</p>

<p><em>${passwordRecoveryLink}</em></p>
<br>
<p><u>Nota</u>: il link rimarrà valido per le prossime ${passwordRecoveryPeriod} ore.</p>

<p>Grazie<br> Il team di Novabill</p>
<br>
<hr>
<span class="footer">
<a target="_blank" href="http://www.novabill.it/">Novabill</a> <a class="wwa" target="_blank" href="http://www.novadart.com/">Chi Siamo</a> 
</span>
</body>

</html>