<html>
<head>
<style>
* {
    font-family: Arial, sans-serif, serif;
    font-size: 14px;
}

body {
	padding: 2em;
}

.logo{
    color: #445058;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-decoration: none;
}
</style>
</head>
<body>
<h2 class="logo">Novabill - Creazione Nuova Password</h2>

<p>Per creare una nuova password per favore premi su <a target="_blank" href="${passwordRecoveryLink}">questo link</a>.<p>

<p>Se il link non funzionasse, puoi copiare e incollare questa url nella barra degli indirizzi del tuo browser (il programma che usi per navigare in internet):</p>

<p style="text-align:center;"><em>${passwordRecoveryLink}</em></p>

<p><u>Nota</u>: il link rimarrà valido per le prossime ${passwordRecoveryPeriod} ore.</p>

<p>Grazie :)<br> Il team di Novabill</p>

</body>

</html>