<html>
<head>
<style>
* {
    font-family: Arial, sans-serif, serif;
    font-size: 16px;
    color: #333;
}

a {
    text-decoration: none;
    color: blue;
}

a:HOVER {
    text-decoration: underline;
}

body {
    padding: 1em;
}

.logo{
    color: #445058;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-decoration: none;
}

.footer * {
    font-size: 14px;
}


.footer .wwa {
    margin-left: 1em;
}
</style>
</head>
<body>
#if($expired)
    <h2 class="logo">Novabill - Il piano Premium è scaduto</h2>
#else
    <h2 class="logo">Novabill - Il piano Premium sta per scadere</h2>
#end
<hr>
<br>
<p>
#if($expired)
    Il piano Premium che hai sottoscritto è scaduto.<br>Puoi rinnovarlo a <a href="https://www.novabill.it/private/premium">questo indirizzo</a> o alternativamente puoi continuare a utilizzare la versione gratuita di Novabill.
#else
    Il piano Premium che hai sottoscritto scadrà in ${days} giorni.<br>Puoi rinnovarlo già ora a <a href="https://www.novabill.it/private/premium">questo indirizzo</a>. 
#end
<p>

<p>Grazie<br> Il team di Novabill</p>
<br>
<hr>
<span class="footer">
<a target="_blank" href="http://www.novabill.it/">Novabill</a> <a class="wwa" target="_blank" href="http://www.novadart.com/">Chi Siamo</a> 
</span>
</body>

</html>