.validationOk {
	border-color: #4DE133;
	background-color: #DEFFD8;
}


.validationError {
	border-color: #E32424;
	background-color: #F9E0E0;
}

.validationMessage {
	background-color: #F9E0E0;
	border: 0.1em solid red;
	border-radius: 0.5em;
	padding: 0.3em;
	margin-left: 5px;
}

.validationBaloon {}

.label {
	color: #666;
	font-style: italic;
}