@external .details,.quickViewCell ;
.quickViewCell .details {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@external .details,.quickViewCell ;
.quickViewCell:HOVER .details {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}