@external .details,.quickViewCell ;
.quickViewCell .details {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    color: #AAA;
}

@external .details,.quickViewCell ;
.quickViewCell:HOVER .details {
	color: inherit;
}