<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">{{'ESTIMATIONS' | translate}}</h3>
			<ul class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a href="../">Dashboard</a></li>
				<li><span>{{'ESTIMATIONS' | translate}}</span></li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->

			<button type="button" class="btn green new-estimation pull-left" ng-click="newEstimationClick()">{{'NEW_ESTIMATION' | translate}}</button>

			<div class="docs-filter input-icon left pull-left">
				<i class="fa fa-search"></i>
				<input type="text" class="form-control input-large" autofocus="autofocus"
					   placeholder="{{'FILTER' | translate}}..." ng-model="query">
			</div>

			<n-year-selector class="pull-right" document-type="estimations" selected-year="{{selectedYear}}" callback="loadEstimations(year)"></n-year-selector>

		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">

		<div class="col-md-12" infinite-scroll="loadMoreEstimations()">

			<div class="estimations">
				<img class="spinner" ng-show="estimations==null" src="../../private_assets/img/ajax-loading.gif">
				<p class="no-data-message text-center text-info" ng-show="estimations && estimations.length===0">{{'NO_DATA' | translate}}</p>
				<n-estimation estimation="est" bottom-up-menu="!$first && ($last || $index>4)" ng-repeat="est in estimations"></n-estimation>
			</div>

		</div>
	</div>

</div>

