<div class="container-fluid settings">
	<div class="row">
		<div class="col-md-12">

			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">{{'SETTINGS' | translate}}</h3>
			<ul class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a href="../">Dashboard</a></li>
				<li><span>{{'SETTINGS' | translate}}</span></li>
			</ul>

		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
		    <tabset class="tabbable-custom">
			    <tab select="onTabChange('business')" active="activeTab.business">
                    <tab-heading>
				        <i class="fa fa-building"></i> {{'BUSINESS_TAB_BUSINESS' | translate}}
			        </tab-heading>
			        
			        <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-6">
                                  <h4><strong style="text-transform: uppercase;">{{'TITLE_COMPANY_DATA' | translate}}</strong></h4>
                                  <n-business-form callback="businessUpdateCallback()" business="business" fields-to-show="all"></n-business-form>
                              </div>
                              <div class="col-md-6" >
                                  <h4><strong style="text-transform: uppercase;">{{'TITLE_SET_LOGO' | translate}}</strong></h4>
                                  <n-business-logo></n-business-logo>
                              </div>
                          </div>
                        </div>
                </tab>
                
                <tab  select="onTabChange('profile')" active="activeTab.profile">
                    <tab-heading>
                        <i class="fa fa-user"></i> {{'BUSINESS_TAB_PROFILE' | translate}}
                    </tab-heading>
                    
                    <div class="row" style="margin-bottom: 30px;" >
                        <div class="col-md-12">
                            <h4><strong style="text-transform: uppercase;">{{'TITLE_PROFILE_STATUS' | translate}}</strong></h4>
                            
                            <form class="form-horizontal" role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label  class="col-md-4 control-label">{{'BUSINESS_TAB_PROFILE_EMAIL' | translate}}</label>
                                        <div class="col-md-4">
                                            <div class="form-control readonly">
                                                {{principalEmail}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-md-4 control-label">{{'BUSINESS_TAB_PROFILE_REGISTERED' | translate}}</label>
                                        <div class="col-md-4">
                                            <div class="form-control readonly">
                                                {{principalCreationDate | date:'dd/MM/yyyy HH:mm'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-md-4 control-label">{{'BUSINESS_TAB_PROFILE_PLAN' | translate}}</label>
                                        <div class="col-md-4">
                                            <div class="form-control readonly" style="font-weight: bold;">
                                                <span ng-if="!premium"><i class="fa fa-check"></i> {{'PLAN_STANDARD' | translate}} <a class="btn btn-xs green pull-right" href="{{premiumUrl}}">{{'PREMIUM_BUTTON' | translate}}</a></span>
                                                <span ng-if="premium"><i class="fa fa-trophy"></i> {{'PLAN_PREMIUM' | translate}} <a class="btn btn-xs green pull-right" href="{{premiumUrl}}">{{'EXTEND_PREMIUM_BUTTON' | translate}}</a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <label  class="col-md-4 control-label">{{'BUSINESS_TAB_PROFILE_PLAN_EXPIRATION' | translate}}</label>
                                    <div class="col-md-4">
                                        <div class="form-control readonly" style="font-weight: bold;">
                                            {{business.settings.nonFreeAccountExpirationTime | date:'dd/MM/yyyy'}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                            
                        </div>
                    </div>
                    
                    <div class="row" style="margin-bottom: 30px;" >
                        <div class="col-md-12">
                            <h4><strong style="text-transform: uppercase;">{{'TITLE_PROFILE' | translate}}</strong></h4>
                            <a href="{{changePasswordUrl}}" class="btn default">{{'CHANGE_PASSWORD' | translate}}</a>
                        </div>
                    </div>
                                
                     <div class="row" style="margin-bottom: 30px;">
                        <div class="col-md-12">
                            <h4><strong style="text-transform: uppercase;">{{'TITLE_EXPORT_DATA' | translate}}</strong></h4>
                            <a href="javascript:void(0);" class="btn default" ng-click="exportZip(true, false, false, false, false)">{{'EXPORT_CLIENTS' | translate}}</a>
                            <a style="margin-left: 10px;" href="javascript:void(0);" class="btn default" ng-click="exportZip(false, false, false, true, false)">{{'EXPORT_CREDIT_NOTES' | translate}}</a>
                            <a style="margin-left: 10px;" href="javascript:void(0);" class="btn default" ng-click="exportZip(false, false, true, false, false)">{{'EXPORT_ESTIMATIONS' | translate}}</a>
                            <a style="margin-left: 10px;" href="javascript:void(0);" class="btn default" ng-click="exportZip(false, true, false, false, false)">{{'EXPORT_INVOICES' | translate}}</a>
                            <a style="margin-left: 10px;" href="javascript:void(0);" class="btn default" ng-click="exportZip(false, false, false, false, true)">{{'EXPORT_TRANSPORT_DOCUMENTS' | translate}}</a>
                        </div>
                    </div>
                    
                    <div class="row" style="margin-bottom: 30px;" >
                        <div class="col-md-12">
                            <h4><strong style="text-transform: uppercase;">{{'TITLE_DELETE_ACCOUNT' | translate}}</strong></h4>
                            <a href="{{deleteAccountUrl}}" class="btn red">{{'DELETE_ACCOUNT' | translate}}</a>
                        </div>
                    </div>
                 
                </tab>
                
                <tab  select="onTabChange('options')" active="activeTab.options">
                    <tab-heading>
                        <i class="fa fa-gears"></i> {{'BUSINESS_TAB_OPTIONS' | translate}}
                    </tab-heading>

                    <img class="spinner" ng-show="!business" src="../../private_assets/img/ajax-loading.gif">

                    <!-- ISLAND 1 -->
                    <h4><strong style="text-transform: uppercase;">{{'TITLE_INVOICE_SETTINGS' | translate}}</strong></h4>

                    <form name="invoiceSettingsForm" ng-show="business" class="form-horizontal" role="form">
                        <div class="form-body">

                            <div class="form-group">
                                <label for="pensionContribution" class="col-md-4 control-label">{{ 'PENSION_CONTRIBUTION' | translate }}</label>
                                <div class="col-md-4">
                                    <input class="form-control input-xlarge" type="number" id="pensionContribution" name="pensionContribution" min="0" max="100" ng-model="business.settings.pensionContributionPercent"
                                           placeholder="{{'PENSION_CONTRIBUTION_PLACEHOLDER' | translate}}" >
                                    <div ng-show="invoiceSettingsForm.pensionContribution.$dirty && invoiceSettingsForm.pensionContribution.$invalid">
                                        <span class="text-danger">{{'VALIDATION_PERCENT' | translate}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="witholdTaxFirstLevel" class="col-md-4 control-label">{{ 'WITHOLD_TAX_FIRST_LEVEL' | translate }}</label>
                                <div class="col-md-4">
                                    <input class="form-control input-xlarge" type="number" id="witholdTaxFirstLevel" name="witholdTaxFirstLevel" min="0" max="100" ng-model="business.settings.witholdTaxPercentFirstLevel"
                                           placeholder="{{'WITHOLD_TAX_FIRST_LEVEL_PLACEHOLDER' | translate}}" >
                                    <div ng-show="invoiceSettingsForm.witholdTaxFirstLevel.$dirty && invoiceSettingsForm.witholdTaxFirstLevel.$invalid">
                                        <span class="text-danger">{{'VALIDATION_PERCENT' | translate}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="witholdTaxSecondLevel" class="col-md-4 control-label">{{ 'WITHOLD_TAX_SECOND_LEVEL' | translate }}</label>
                                <div class="col-md-4">
                                    <input class="form-control input-xlarge" type="number" id="witholdTaxSecondLevel" name="witholdTaxSecondLevel" min="0" max="100" ng-model="business.settings.witholdTaxPercentSecondLevel"
                                           placeholder="{{'WITHOLD_TAX_SECOND_LEVEL_PLACEHOLDER' | translate}}" >
                                    <div ng-show="invoiceSettingsForm.witholdTaxSecondLevel.$dirty && invoiceSettingsForm.witholdTaxSecondLevel.$invalid">
                                        <span class="text-danger">{{'VALIDATION_PERCENT' | translate}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    
                    <!-- ISLAND 1 -->
                    <h4><strong style="text-transform: uppercase;">{{'TITLE_LAYOUT_SETTINGS' | translate}}</strong></h4>
                    
                    <form ng-show="business" class="form-horizontal" role="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-4 control-label">{{'LAYOUT_TYPE' | translate}}</label>
                                <div class="col-md-8">
                                    <select class="form-control input-xlarge" ng-model="business.settings.defaultLayoutType">
                                        <option value="DENSE">{{'LAYOUT_TYPE_DENSE' | translate}}</option>
                                        <option value="TIDY">{{'LAYOUT_TYPE_TIDY' | translate}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="incognitoEnabled" class="col-md-4 control-label">{{ 'BUSINESS_OPTION_INCOGNITO_ENABLED' | translate }}</label>
                                <div class="col-md-8">
                                    <div class="checkbox-list">
                                        <label> <input id="incognitoEnabled" type="checkbox" ng-model="business.settings.incognitoEnabled">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="defaultTermsAndConditionsForEstimation" class="col-md-4 control-label">{{ 'BUSINESS_OPTION_DEFAULT_TERMS_AND_CONDITIONS_FOR_ESTIMATION' | translate }}</label>
                                <div class="col-md-8">
                                    <textarea 
                                    id="defaultTermsAndConditionsForEstimation" 
                                    name="defaultTermsAndConditionsForEstimation" 
                                    maxlength="3000"
                                    ng-model="business.settings.defaultTermsAndConditionsForEstimation" 
                                    class="form-control input-xlarge" rows="5"></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="footerNote" class="col-md-4 control-label">{{ 'BUSINESS_OPTION_FOOTER_TEXT' | translate }}</label>
                                <div class="col-md-8">
                                   <label for="estimationFooterNote" class="control-label">{{ 'ESTIMATION' | translate }}</label>
                                   <input id="estimationFooterNote" maxlength="300" class="form-control input-xlarge" type="text" ng-model="business.settings.estimationFooterNote">
                                   <label for="transportDocumentFooterNote" style="margin-top: 10px;" class="control-label">{{ 'TRANSPORT_DOCUMENT' | translate }}</label>
                                   <input id="transportDocumentFooterNote" maxlength="300" class="form-control input-xlarge" type="text" ng-model="business.settings.transportDocumentFooterNote">
                                   <label for="invoiceFooterNote" style="margin-top: 10px;" class="control-label">{{ 'INVOICE' | translate }}</label>
                                   <input id="invoiceFooterNote" maxlength="300" class="form-control input-xlarge" type="text" ng-model="business.settings.invoiceFooterNote">
                                   <label for="creditNoteFooterNote" style="margin-top: 10px;" class="control-label">{{ 'CREDIT_NOTE' | translate }}</label>
                                   <input id="creditNoteFooterNote" maxlength="300" class="form-control input-xlarge" type="text" ng-model="business.settings.creditNoteFooterNote">
                                </div>
                            </div>

                        </div>
                    </form>
                    
                    
                    <!-- ISLAND 2 -->
                    <h4><strong style="text-transform: uppercase;">{{'TITLE_EMAIL_SETTINGS' | translate}}</strong></h4>

                    <form name="emailForm" ng-show="business" class="form-horizontal" role="form" novalidate>
                        <div class="form-body">

                            <div class="form-group">
                                <label for="emailReplyTo" class="col-md-4 control-label">{{ 'BUSINESS_OPTION_EMAIL_REPLY_TO' | translate }} *</label>
                                <div class="col-md-4">
                                    <input class="form-control input-xlarge" type="email" id="emailReplyTo" name="emailReplyTo" maxlength="200" ng-model="business.settings.emailReplyTo"
                                        placeholder="{{'BUSINESS_OPTION_EMAIL_REPLY_TO_PLACEHOLDER' | translate}}" required>
                                    <div ng-show="emailForm.emailReplyTo.$dirty && emailForm.emailReplyTo.$invalid">
                                        <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="emailSubject" class="col-md-4 control-label">{{ 'BUSINESS_OPTION_EMAIL_SUBJECT' | translate }} *</label>
                                <div class="col-md-4">
                                    <textarea id="emailSubject" name="emailSubject" placeholder="{{'BUSINESS_OPTION_EMAIL_SUBJECT_PLACEHOLDER' | translate}}" maxlength="78"
                                    ng-trim="false"
                                    ng-model="business.settings.emailSubject" class="form-control input-xlarge" rows="2" required></textarea>
                                    <n-email-keyword-chooser model="business.settings.emailSubject"></n-email-keyword-chooser>
                                    <div ng-show="emailForm.emailSubject.$dirty && emailForm.emailSubject.$invalid">
                                        <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="emailText" class="col-md-4 control-label">{{ 'BUSINESS_OPTION_EMAIL_TEXT' | translate }} *</label>
                                <div class="col-md-4">
                                    <textarea id="emailText" name="emailText" ng-model="business.settings.emailText"
                                    class="form-control input-xlarge" maxlength="1000" rows="8" 
                                        ng-trim="false" required></textarea>
                                    <n-email-keyword-chooser model="business.settings.emailText"></n-email-keyword-chooser>
                                    <div ng-show="emailForm.emailText.$dirty && emailForm.emailText.$invalid">
				                        <span class="text-danger">{{'VALIDATION_REQUIRED' | translate}}</span>
				                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-5">
                                    <button type="button" ng-click="viewPreview()" ng-disabled="emailForm.$invalid" class="btn default pull-right">
				                      {{'BUSINESS_OPTION_EMAIL_PREVIEW' | translate}}
				                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                    
                    
                    
                    <!-- ISLAND 3 -->
                    <h4><strong style="text-transform: uppercase;">{{'TITLE_OTHER_SETTINGS' | translate}}</strong></h4>
                    
                    <form ng-show="business" class="form-horizontal" role="form">
                        <div class="form-body">

                            <div class="form-group">
                                <label for="priceDisplayInDocsMonolithic" class="col-md-4 control-label">{{ 'BUSINESS_OPTION_PRICE_IN_DOCS_MONOLITHIC' | translate }}</label>
                                <div class="col-md-8">
                                    <div class="checkbox-list">
                                        <label> <input id="priceDisplayInDocsMonolithic" type="checkbox" ng-model="$parent.priceDisplayInDocsMonolithic">
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <button ng-show="business" type="button" ng-click="update()" ng-disabled="emailForm.$invalid || invoiceSettingsForm.$invalid" class="btn green save-options button-save">
                      {{'SAVE_CHANGES' | translate}}
                    </button>
                </tab>
			</tabset>
		
		</div>
	</div>

</div>