<div class="container-fluid settings">
	<div class="row">
		<div class="col-md-12">

			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">{{'BUSINESS_TAB_SHARE' | translate}}</h3>
			<ul class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a href="../">Dashboard</a></li>
				<li><span>{{'BUSINESS_TAB_SHARE' | translate}}</span></li>
			</ul>

		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
			<div class="well">
				<h4>{{'INFO' | translate}}</h4>
				<p>{{'SHARING_PERMIT_INFO1' | translate}}</p>
				<p ng-bind-html="sharingInfo2"></p>
			</div>

			<button type="button" class="btn green new-share" ng-click="newShare()">{{'NEW_SHARE' | translate}}</button>
			<img class="spinner" ng-show="sharingPermits==null" src="../../private_assets/img/ajax-loading.gif">
			<p class="no-data-message text-center text-info" ng-show="sharingPermits && sharingPermits.length===0">{{'NO_DATA' | translate}}</p>

			<n-sharing-permit sharing-permit="sp" bottom-up-menu="!$first && $last" ng-repeat="sp in sharingPermits"></n-sharing-permit>
		</div>
	</div>

</div>