<div class="container-fluid settings">
	<div class="row">
		<div class="col-md-12">

			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<h3 class="page-title">{{'BUSINESS_TAB_STATS_GENERAL' | translate}}</h3>
			<ul class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a href="../">Dashboard</a></li>
				<li><span>{{'BUSINESS_TAB_STATS_GENERAL' | translate}}</span></li>
			</ul>

		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">
		  <n-premium-alert></n-premium-alert>
		  
		  <n-monthly-statistics 
		      month="mVal.month" year="year" value="mVal.value" past-value="mVal.pastValue" 
		      ng-repeat="mVal in totalsPerMonths">
	      </n-monthly-statistics>
		  		
		</div>
	</div>

</div>