.clients .clients-filter {
	margin-top: 20px;
	margin-bottom: 20px;
}

.clients .new-client {
	margin-top: 10px;
}

.clients .partition .letter {
	float: left;
	padding-top: 5px;
}

.clients .partition .letter h4 {
    display: inline;
}

.clients .partition .clients {
	margin-left: 70px;
}

.clients .partition .clients .client {
	padding: 0 0 0 20px;
	cursor: pointer;
}

.clients .partition .clients .client h3 {
	display: inline;
	line-height: 32px;
}

.clients .partition .clients .client .address {
    margin-left: 40px;
    display: none;
}

.clients .partition .clients .client:HOVER .address {
    display: inline;
}

.clients .partition .clients .client:HOVER {
	background-color: #555;
	color: white;
}

.clients-detail .spinner {
	margin: 0 auto;
    display: block;
}

ul.pagination > li > a {
	cursor: pointer;
}

.clients-detail .tab-content {
	min-height: 400px;
}
