<div class="container-fluid">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title">
        Clients
    </h3>
    <ul class="breadcrumb">
        <li><i class="icon-home"></i> <a href="../">Home</a> 
             <i class="icon-angle-right"></i></li>
        <li><span>Clients</span></li>
    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->

	<button type="button" class="btn red new-client" ng-click="newClientClick()">{{'NEW_CLIENT' | translate}}</button>
	        
	<div>
	    <ul class="pagination pagination-lg">
	        <li ng-repeat="pt in partitions">
	            <a ng-click="scrollTo(pt.letter)">{{pt.letter}}</a>
	        </li>
	    </ul>
	</div>
	
	<div class="clients-filter input-icon left">
	   <div class="input-icon">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control input-large" autofocus="autofocus" type="text" placeholder="Filter..." 
              ng-model="query" ng-keyup="filterKeyUp()">
        </div>
	</div>
	
	<img class="spinner" ng-show="partitions==null" src="../../private_assets/img/ajax-loading.gif">
	
	<div class="partition" ng-repeat="pt in partitions">
	    <span id="{{pt.letter}}"></span>
	    <div class="letter">
	        <h4>
	            <strong ng-cloak>{{pt.letter}}</strong>
	        </h4>
	    </div>
	    <div class="clients">
	        <div class="client" ng-repeat="cl in pt.clients" ng-click="clientClick(cl)">
	            <h3 ng-cloak>{{cl.name}}</h3>
	            <span class="address">{{address(cl)}}</span>
	        </div>
	    </div>
	</div>        

</div>
