<div class="container-fluid commodities-detail">
	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
	<ul class="breadcrumb">
		<li><i class="icon-home"></i> <a href="../">Home</a> <i class="icon-angle-right"></i></li>
		<li><a href=".">Commodities</a><i class="icon-angle-right"></i></li>
		<li><span>{{commodity.description}}</span></li>
	</ul>

     
	<div class="jumbotron" ng-class="{product: !commodity.service, service: commodity.service}">
		<span class="type label label-primary" ng-show="commodity.service">Service</span> <span
			class="type label label-success" ng-show="!commodity.service">Product</span>

		<h2>{{commodity.description}}</h2>

	</div>

	<div style="height: 28px;" class="col-md-2 col-md-offset-10">
		<div class="pull-right">
			<a href="javascript: void(0)" ng-disabled="commodity == null" ng-click="editCommodity()" class="btn btn-sm red">
				<i class="fa fa-edit"></i>Edit
			</a> <a href="javascript: void(0)" ng-disabled="commodity == null" ng-click="removeCommodity()" class="btn btn-sm red">
				<i class="fa fa-trash-o"></i> Delete
			</a>
		</div>
	</div>
	

    <h3 style="margin-top: 10px;">Details</h3>
	<div class="well col-md-5">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Stock Keeping Unit</th>
						<th>Unit of Measure</th>
						<th>Tax</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{commodity.sku}}</td>
						<td>{{commodity.unitOfMeasure}}</td>
						<td>{{commodity.tax}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<h3 style="margin-top: 10px; clear: both;">Price Lists</h3>
    <div class="well col-md-5">
	    <table class="table">
		    <tbody>
		        <tr style="font-weight: bold; font-size: large">
		            <td>Default</td>
		            <td>
	                   <update-price price-list-name="$default" price="commodity.pricesMap.prices.$default" />
	                </td>
		        </tr>
		        <tr>
                    <td>Another</td>
                    <td>
                       <update-price price-list-name="another" price="commodity.pricesMap.prices.$default" />
                    </td>
                </tr>
		    </tbody>
		</table>
    </div>
    
</div>

<edit-commodity-dialog commodity="commodity" />
<removal-dialog />
