<div class="container-fluid">
	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
	<h3 class="page-title">Invoices</h3>
	<ul class="breadcrumb">
		<li><i class="fa fa-home"></i> <a href="../">Home</a>
			</li>
		<li><span>Invoices</span></li>
	</ul>
	<!-- END PAGE TITLE & BREADCRUMB-->

	<button type="button" class="btn red new-invoice"
		ng-click="newInvoiceClick()">New Invoice</button>
		
	<n-year-selector class="pull-right" document-type="invoices" callback="loadInvoices(year)"></n-year-selector>

	<div class="invoices" infinite-scroll="loadMoreInvoices()">
		<img class="spinner" ng-show="invoices==null" src="../../private_assets/img/ajax-loading.gif">
		<p class="no-data-message text-center text-info" ng-show="invoices && invoices.length===0">No Data</p>
		<n-invoice invoice="inv" bottom-up-menu="!$first && $last" ng-repeat="inv in invoices"></n-invoice>
	</div>
	
	<n-removal-dialog></n-removal-dialog>
	
</div>

