<div class="container-fluid price-list-detail">

	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<ul class="breadcrumb">
				<li><i class="fa fa-home"></i> <a href="../">Home</a></li>
				<li><a href=".">Price Lists</a><i class="icon-angle-right"></i></li>
				<li><span>{{priceList.name | nFilterDefault}}</span></li>
			</ul>

			<div class="jumbotron">
				<h2>{{priceList.name | nFilterDefault}}</h2>
			</div>

			<div ng-if="DEFAULT_PRICELIST_NAME!==priceList.name" style="height: 28px;" class="col-md-2 col-md-offset-10">
				<div class="pull-right">
					<a href="javascript: void(0)" ng-disabled="priceList == null" ng-click="editPriceList()" class="btn btn-sm red">
						<i class="fa fa-edit"></i>Edit
					</a> <a href="javascript: void(0)" ng-disabled="priceList == null" ng-click="removePriceList()" class="btn btn-sm red">
						<i class="fa fa-trash-o"></i> Delete
					</a>
				</div>
			</div>

		</div>
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">

			<div class="commodity-filter input-icon left">
				<i class="fa fa-search"></i> <input type="text" class="form-control input-large" autofocus="autofocus" type="text"
					placeholder="Filter..." ng-model="query">
			</div>

			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr ng-repeat="com in commodities | filter:query">
							<td width="10%">
							     <span ng-if="!com.service" class="type badge badge-success" >Product</span>
							     <span ng-if="com.service" class="type badge badge-primary" >Service</span>
							</td>
							<td width="10%"><strong>{{com.sku}}</strong></td>
							<td width="50%">{{com.description}}</td>
							<td width="30%" style="text-align: right;">
							      <n-update-price 
							         price-list-name="priceList.name" 
							         price="com.pricesMap.prices[priceList.name]"
							         default-price="com.pricesMap.prices[DEFAULT_PRICELIST_NAME]" ></n-update-price>
							</td>
						</tr>

					</tbody>
				</table>
			</div>

		</div>
	</div>
	
	<n-edit-price-list-dialog price-list="priceList"></n-edit-price-list-dialog>
    <n-removal-dialog></n-removal-dialog>

</div>