<div class="container-fluid">
	<!-- BEGIN PAGE TITLE & BREADCRUMB-->
	<h3 class="page-title">Transport Documents</h3>
	<ul class="breadcrumb">
		<li><i class="fa fa-home"></i> <a href="${dashboardUrl}">Home</a>
			</li>
		<li><span>Transport Documents</span></li>
	</ul>
	<!-- END PAGE TITLE & BREADCRUMB-->

	<button type="button" class="btn red new-transport-document"
		ng-click="newTransportDocumentClick()">New Transport Document</button>
		
	<n-year-selector class="pull-right" document-type="transportDocuments" callback="loadTransportDocuments(year)"></n-year-selector>

	<div class="transport-documents" infinite-scroll="loadMoreTransportDocuments()">
		<img class="spinner" ng-show="transportDocuments==null"	src="../../private_assets/img/ajax-loading.gif">
		<p class="no-data-message text-center text-info" ng-show="transportDocuments && transportDocuments.length===0">No Data</p>
		<n-transport-document transport-document="td" bottom-up-menu="!$first && $last"
			ng-repeat="td in transportDocuments"></n-transport-document>
	</div>
    
    <n-select-transport-documents-dialog></n-select-transport-documents-dialog>
	<n-removal-dialog></n-removal-dialog>
</div>
