<div id="removalDialog"  class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p style="font-size: 14px;">{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn green" ng-click="ok()">{{'CONTINUE' | translate}}</button>
        <button type="button" class="btn" data-dismiss="modal"  ng-click="cancel()">{{'CANCEL' | translate}}</button>
      </div>
    </div>
  </div>
</div>