<div class="well well-small document-well estimation" ng-click="openUrl()">
    <strong class="documentId">{{estimation.documentID}}</strong> 
    <span class="date">{{estimation.accountingDocumentDate | date:"dd MMMM yyyy" }}</span> 
    <span class="clientName">{{estimation.client.name}}</span>
    
    <a href="javascript:void(0);" ng-click="stopProp($event); print()" class="print btn btn-sm default pull-right"><i class="fa fa-print"></i></a>
    
    <div class="options btn-group pull-right" ng-click="stopProp($event)">
        <a class="btn blue btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-ellipsis-horizontal"></i>
            {{'OPTIONS' | translate}}
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu" ng-class="{'bottom-up': bottomUpMenu}">
            <li><a href="javascript:void(0);" ng-click="clone()">{{'CLONE' | translate}}</a></li>
            <li><a href="javascript:void(0);" ng-click="convertToTransportDocument()">{{'CREATE_TRANSPORT_DOCUMENT' | translate}}</a></li>
            <li><a href="javascript:void(0);" ng-click="convertToInvoice()">{{'CREATE_INVOICE' | translate}}</a></li>
            <li class="divider"></li>
            <li ><a href="javascript:void(0);" ng-click="remove()" ><i class="fa fa-trash-o"></i>{{'DELETE' | translate}}</a></li>
        </ul>
    </div>
    
</div>