<div class="well well-small document-well transport-document" ng-click="openUrl()">
    <strong class="documentId">{{transportDocument.documentID}}</strong> 
    <span class="date">{{transportDocument.accountingDocumentDate | date:"dd MMMM yyyy" }}</span> 
    <span class="clientName">{{transportDocument.client.name}}</span>
    
    <a href="javascript:void(0);" ng-click="stopProp($event); download()" class="print btn btn-sm default pull-right"><i class="fa fa-download"></i></a>
    
    <a href="javascript:void(0);" ng-click="stopProp($event); print()" class="print btn btn-sm default pull-right"><i class="fa fa-print"></i></a>
    
    <div class="options btn-group pull-right" ng-click="stopProp($event);">
        <a class="btn blue btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-ellipsis-horizontal"></i>
            {{'OPTIONS' | translate}}
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu" ng-class="{'bottom-up': bottomUpMenu}">
            <li><a ng-if="!invoiceRefUrl" href="javascript:void(0);" ng-click="createInvoice()">{{'CREATE_INVOICE' | translate}}</a></li>
            <li ng-if="!invoiceRefUrl" class="divider"></li>
            <li ><a href="javascript:void(0);" ng-click="remove()" ><i class="fa fa-trash-o"></i>{{'DELETE' | translate}}</a></li>
        </ul>
    </div>

    <a ng-if="invoiceRefUrl" title="{{'INVOICE_REF_TITLE' | translate}}" href="{{invoiceRefUrl}}" class="invoice-ref btn btn-sm default pull-right"><i class="fa fa-file-o"></i></a>
    
</div>