.intro h2 {
	text-align: center;
	color:#333333;
	font-size: 88px;
	padding: 30px 0px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
	text-transform: uppercase;
}

.intro p {
	text-align: center;
	color: #8C8C8C;
	font-size: 17px;
	margin: -20px 0 0 0;
	text-shadow: 0px 1px 0px #fff;
}

.mask-container-large {
	position: relative;
	width: 960px;
	height: 540px;
	padding: 2px 3px 4px 3px;
	margin: 30px 0 0 0;
}

.mask-gloss-large {
	width: 966px;
	height: 546px;
	position: absolute;
	/* z-index: 5000; */
	background: url('../../images/gloss-large.png');
	top: 0px;
	left: 0px;
}

.divider-2 {
	width: 960px;
	height: 17px;
	background: url('../../images/divider-2.png') no-repeat;
	margin: 60px 0 20px 0;
}

h3 {
	color: #474747;
	font-size: 22px;
	padding: 5px 10px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #bbb;
}

.inset {
	width: 960px;
	padding: 1px 0 0 0;
	background: url('../../images/inset-mid.png') repeat-y;
}

.inset-top {
	width: 960px;
	height: 13px;
	margin: 20px 0 0 0;
	padding: 0;
	background: url('../../images/inset-top.png') no-repeat;
}

.inset-btm {
	width: 960px;
	height: 9px;
	margin: 0 0 30px 0;
	padding: 0;
	background: url('../../images/inset-btm.png') no-repeat;
}

.inset .row {
	border-bottom: 1px solid #E0E0E0;
}

.inset .row:first-child {
	margin-top: -13px;
}
.inset .row:last-child {
	border-bottom: none;
}

.col {
	width: 440px;
	margin: 20px 20px 10px 20px;
	float: left;
}

.mask-container-thumbnail {
	position: relative;
	width: 100px;
	height: 100px;
	padding: 2px 3px 4px 3px;
	display: block;
}

.mask-gloss-thumbnail {
	width: 106px;
	height: 106px;
	position: absolute;
	background: url('../../images/gloss-thumbnail.png');
	top: 0;
	left: 0;
	display: block;
}

.mask-gloss-thumbnail:hover {
	background: url('../../images/gloss-thumbnail-hover.png');
}

.fancybox-title-over{
	background: rgba(0, 0, 0, .7);
}

.fancybox-title-over p{
	color: white;
	padding-left: 10px;
}

.feature-image {
	float: left;
	margin: 0 20px 10px 0;
}

.description {
	float: left;
	width: 300px;
	text-align: justify;
}

.quote {
	float: left;
	width: 420px;
	height: 163px;
	margin: 20px 10px 30px 0;
	padding: 20px 30px 20px 20px;
	background: url('../../images/quote-bg.png') no-repeat;
}

.quote p {
	font-family: Georgia, Times, serif;
	font-style: italic;
}
.quotation-mark {
	float: left;
	margin: 0 10px 0 5px;
}

#registerForFree {
	width: 18em;
	height: 2em;
	margin: 2em auto;
	display: block;
}
