table {
	margin: 2em auto 1em;
}


table td.premium,
table td.free,
table td.header_free,
table td.header_premium {
	text-align: center;
	padding: 0.5em 1em;
	font-size: 1.2em;
}


table td.header_free {
	font-weight: bold;
	font-size: 1.5em;
	
}

table td.header_premium {
	font-weight: bold;
	font-size: 1.5em;
}

table td.feature {
	width: 24em;
	font-size: 1.2em;
	height: 2.5em;
}

.freeButton {
	width: 200px;
}

.premiumButton {
	width: 200px;
}

.check {
	width: 1.5em;
	height: 1.5em;
}