html {
	background: none;
}

body {
	font-size: 14px;
	color: #333;
	background: none;
}

.button {
	padding: 0.5em;
	font-size: 1em;
	cursor: pointer;
	font-weight: bold;
	background-color: #EEE;
	border: 0.1em solid #DDD;
	color: #333;
	margin: 1px;
}

.button:HOVER {
	background-color: #DDD;
	border: 0.1em solid #EEE;
	color: #EEE;
}

* {
	font-family: Arial, sans-serif, serif;
}

input[type="text"],input[type="password"] {
	border: 0.1em solid #CCC;
	padding: 0.4em;
}

input[type="text"]:HOVER,input[type="password"]:HOVER {
	border: 0.1em solid #000;
}

select {
	padding: 0.4em;
	background-color: white;
	border: 0.1em solid #CCC;
	cursor: pointer;
}

select:HOVER {
	background-color: #EEE;
}

textarea {
	padding: 0.4em;
	border: 0.1em solid #CCC;
}

textarea:HOVER {
	border: 0.1em solid #000;
}

.AuthDialog {
	background-color: white;
	padding: 2em;
}

.AuthDialog .authDialog {
	
}

.AuthDialog .username,.AuthDialog .password {
	width: 15em;
	margin-left: 2em;
}

.AuthDialog .password,.AuthDialog .passwordLabel {
	margin-top: 1em;
}

.AuthDialog .submit {
	margin-top: 2em;
	text-align: center;
	width: 100%;
}

.AuthDialog .submitContainer {
	margin-left: auto;
	margin-right: auto;
	width: 8em;
}

.Novabill {
	margin: 0 auto;
	background-color: white;
	padding: 20px 20px 0;
	min-height: 600px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #AAA;
}

.ClientView .actionWrapper {
	text-align: center;
	margin-bottom: 1.5em;
}

.ClientView .newInvoice,.ClientView .newEstimation,.ClientView .newCreditNote,.ClientView .newTransportDocument
	{
	cursor: pointer;
}

.ClientView .newCreditNote {
	width: 12em;
}

.ClientView .newTransportDocument {
	width: 16em;
}

.HomeView .newEstimation {
	width: 10em;
}

.HomeView .newCreditNote {
	width: 12em;
}

.HomeView .newTransportDocument {
	width: 16em;
}

.ClientView .clientName {
	font-size: 2em;
	font-weight: bold;
	padding: 0 0.5em;
	text-align: center;
	text-shadow: 2px 2px 2px #DDD;
	filter: dropshadow(color =   #DDDDDD, offx =   2, offy =   2);
}

.ClientView .clientDetails {
	min-width: 30em;
	padding: 0.2em 0.5em 0.5em;
	font-size: 1.3em;
	text-align: center;
}

.ClientView .clientOptions {
	margin-left: auto;
}

.ClientView .clientOptions .modifyClient,.ClientView .clientOptions .cancelClient
	{
	padding: 0.5em;
	font-weight: bold;
}

.ClientView .modifyClient:HOVER,.ClientView .cancelClient:HOVER {
	text-decoration: underline;
	cursor: pointer;
}

.ClientView .clientMainBody {
	margin: 0 auto 2em;
	width: 90%;
	height: 40em;
}

.ClientView .clientMainBody .gwt-TabLayoutPanelTabs {
	
}

.ClientView .clientMainBody .gwt-TabLayoutPanelTab {
	padding: 0.5em 1em;
	background-color: white;
	border: 0.1em solid #DDD;
	width: 9em;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	font-size: 1.2em;
	cursor: pointer;
}

.ClientView .clientMainBody .gwt-TabLayoutPanelTab:HOVER {
	text-decoration: underline;
}

.ClientView .clientMainBody .gwt-TabLayoutPanelTab-selected:HOVER {
	text-decoration: none;
}

.ClientView .clientMainBody .gwt-TabLayoutPanelTab-selected {
	background-color: #EEE;
	font-weight: bold;
}

.ClientView .clientMainBody .gwt-TabLayoutPanelTabInner {
	
}

.ClientView .clientMainBody .tabHeaderLabel {
	
}

.HomeView .homeBody {
	width: 60%;
	margin: 1em auto 0;
}

.panel {
	border: 0.1em solid #DDD;
	padding: 1.5em 2em;
	background-color: #EEE;
	margin: 0 auto;
}

.ClientView .listWrapper {
	padding: 0.8em 2em;
}

.HomeView .welcomeMessage {
	width: 75%;
	margin: 2em auto 0;
	background-color: #FFFDB3;
	padding: 1em;
	border: 0.1em solid #DDD;
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
}

.HomeView .welcomeMessage p {
	color: #333;
	font-size: 1.1em;
	margin: 0.5em 0;
	line-height: 110%;
}

.HomeView .actions {
	margin: 0 auto;
}

.HomeView .actions button {
	cursor: pointer;
}

.HomeView .listWrapper {
	
}

.HomeView .invoiceList {
	
}

.HomeView .clientList {
	
}

.HomeView .invoicesTitle {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 0.5em
}

.HomeView .showMore {
	text-align: center;
	margin-top: 0.5em;
}

.HomeView .showMore .ShowMoreButton-button {
	width: 40%;
}

.HomeView .showMore .ShowMoreButton-loader {
	
}

.HomeView .currentDate {
	text-align: right;
	color: #333;
	height: 1.2em;
}

.HomeView .currentDate .date {
	margin-right: 1em;
}

.HomeView .currentDate .time {
	
}

.MainWidget .centerContainer {
	padding: 1em;
}

.MainWidget .westContainer {
	
}

.MainWidget .southContainer .changeButton {
	background-color: white;
	border: 0.1em solid #CCC;
	color: #CCC;
	margin: 0 0.3em 0.1em;
}

.MainWidget .southContainer .changeButton:HOVER {
	background-color: #EEE;
	border: 0.1em solid #DDD;
	color: #333;
}

.MainWidget .header { 
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

.MainWidget .header .logo {
	height: 2.5em;
}

.MainWidget .header .stats {
	font-size: 1.2em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	position: absolute;
	right: 0.5em;
	top: 0.8em;
}

.MainWidget .header .menuBar {
	float: left;
	width: 50em;
}

.MainWidget .header .logoBar {
	float: left;
	width: 25em;
}

.MainWidget .changePassword {
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	color: #333;
	margin: 0.8em 0 0 2em;
}

.MainWidget .changePassword:HOVER {
	font-weight: bold;
}

.MainWidget .header .exitButton {
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
	color: #333;
	margin: 0.8em 0 0 2em;
}

.MainWidget .header .exitButton:HOVER {
	font-weight: bold;
}

.MainWidget .header .homeButton {
	height: 2.5em;
	width: 6em;
}

.MainWidget .header .myDataButton {
	height: 2.5em;
	width: 8em;
	margin-left: 0.5em;
}

.MainWidget .header .productName {
	font-size: 2.5em;
	font-weight: bold;
	cursor: pointer;
	margin-left: 0.5em;
}

.MainWidget .header .clients,.MainWidget .header .invoices,.MainWidget .header .totalAmount
	{
	margin-left: 2.5em;
}

.MainWidget .header .value {
	margin-left: 0.7em;
	font-weight: bold;
}

.MainWidget .banner {
	background-color: #EEE;
	text-align: center;
	height: 1.5em;
	padding: 0.5em 1em 0;
}

.MainWidget .banner .name {
	font-weight: bold;
	font-size: 1.1em;
}

.MainWidget .banner .address {
	font-size: 1.0em;
	margin-left: 0.5em;
}

.MainWidget .banner .phoneAndFax {
	font-size: 1.0em;
	margin-left: 0.5em;
}

.MainWidget .banner .vatID {
	font-size: 1.0em;
	margin-left: 0.5em;
}

.QuickViewList .quickViewCell {
	padding: 0 1em 0 0;
	font-size: 1em;
	border: 1px solid #DDD;
	background-color: white;
	margin: 3px 0;
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
}

.QuickViewList .pdf {
	width: 2em;
	height: 2em;
}

.QuickViewList.TransportDocumentList .upper span.createInvoice,.QuickViewList.EstimationList .upper span.convertToInvoice
	{
	position: absolute;
	right: 4.3em;
}

.QuickViewList .details .tools {
	text-align: right;
}

.QuickViewList.TransportDocumentList .upper span.createInvoice,.QuickViewList.EstimationList .upper span.convertToInvoice,.QuickViewList .details .tools span
	{
	text-transform: uppercase;
	font-size: 0.8em;
	margin-right: 1em;
	cursor: pointer;
}

.QuickViewList.TransportDocumentList .upper span.createInvoice:HOVER,.QuickViewList.EstimationList .upper span.convertToInvoice:HOVER,.QuickViewList .details .tools span:HOVER
	{
	text-decoration: underline;
}

.QuickViewList.InvoiceList .upper {
	height: 1.8em;
}

.QuickViewList.InvoiceList .details .payed:HOVER {
	text-decoration: underline;
}

.QuickViewList.InvoiceList .details .payed {
	float: right;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 0.8em;
}

.QuickViewList .details .payed.payed-true {
	background-color: #B9F2B3;
	border: 0.1em solid #66C25B;
}

.QuickViewList .details .payed.payed-false {
	background-color: #EDE700;
	border: 0.1em solid #D8D308;
}

.QuickViewList .main {
	padding: 0.5em 0;
}

.QuickViewList.InvoiceList .main.invoice-not-payed .id {
	background-color: #EDE700;
	border: 0.1em solid #D8D308;
	color: black;
}

.QuickViewList.InvoiceList .main.invoice-payed .id {
	background-color: #B9F2B3;
	border: 0.1em solid #66C25B;
	color: black;
}

.QuickViewList.EstimationList .id {
	background-color: #888;
	color: white;
}

.QuickViewList .id {
	padding: 1px 2px;
	position: relative;
	top: -0.3em;
	left: 0.1em;
}

.QuickViewList .date {
	padding: 0 20px;
}

.QuickViewList .name {
	font-weight: bold;
}

.QuickViewList .details {
	padding: 5px 5px 15px;
}

.QuickViewList .openEstimation,.QuickViewList .openInvoice,.QuickViewList .openCreditNote,.QuickViewList .openTransportDocument
	{
	position: absolute;
	left: 48%;
}

.westContainer {
	border-right: 1px solid #EEE;
}

.westContainer .cellList {
	padding: 10px;
}

.westContainer .clientsHeader {
	width: 100%;
}

.westContainer .clients {
	font-size: 2em;
	margin-top: 1em;
	margin-left: 0.5em;
}

.ClientWidget {
	background-color: #EEE;
	margin: 3em 0;
	border: 0.2em solid #DDD;
	padding: 0.2em;
}

.westContainer .client {
	border: 0.1em solid #EEE;
	padding: 2px;
	margin: 0.1em 0;
}

.westContainer .client:HOVER {
	background-color: #EEE;
}

.westContainer .client-simple {
	border: 0.1em solid #DDD;
	padding: 1em 0.5em;
	margin: 0.1em 0;
	box-shadow: 2px 2px 2px #CCC;
}

}
.westContainer .client-simple:HOVER {
	background-color: #EEE;
}

.ClientWidget .name,.westContainer .client .name {
	font-weight: bold;
}

.westContainer .addClient {
	margin-top: 1.8em;
	cursor: pointer;
}

.westContainer .addClient:HOVER {
	border: 1px solid #2F9524;
}

.westContainer .ClientSearch-filter {
	margin: 0.5em 1em;
	width: 20em;
}

.westContainer .ClientSearch-filter.RichTextBox-labelStyle {
	color: #666;
	font-style: italic;
}

.Dialog {
	z-index: 2;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: literal("alpha(opacity=30)");
	z-index: 2;
}

.gwt-PopupPanel {
	z-index: 2;
}

.gwt-DatePicker {
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 85%;
	text-align: center;
	padding: 4px;
	outline: none;
	font-weight: bold;
	color: #333;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background: #fff;
	padding: 0px 4px 2px;
	cursor: default;
	color: #666;
	font-size: 70%;
	font-weight: normal;
}

.datePickerDay {
	padding: 4px 7px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsWeekend {
	background: #f7f7f7;
}

.datePickerDayIsFiller {
	color: #999;
	font-weight: normal;
}

.datePickerDayIsValue {
	background: #d7dfe8;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #d7dfe8;
}

.datePickerDayIsToday {
	padding: 3px;
	color: #fff;
	background: url(images/hborder.png) repeat-x 0px -2607px;
}

.datePickerMonthSelector {
	width: 100%;
	padding: 1px 0 5px 0;
	background: #fff;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 120%;
	line-height: 1em;
	color: #3a6aad;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	padding: 0px 4px;
	outline: none;
}

.SelectClientDialog {
	
}

.SelectClientDialog .body {
	background-color: white;
	padding: 1em;
	border: 1em solid #EEE;
	border-radius: 0.5em;
	width: 40em;
	min-height: 10em;
}

.SelectClientDialog .title {
	text-align: center;
	padding: 0.2em;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 1em;
}

.SelectClientDialog .filterContainer {
	margin: 0 auto;
}

.SelectClientDialog .ClientSearch-filter {
	width: 20em;
	margin-bottom: 1em;
}

.SelectClientDialog .ClientSearch-filter.RichTextBox-labelStyle {
	color: #666;
	font-style: italic;
}

.SelectClientDialog .ClientSearch-resetFilter {
	cursor: pointer;
	width: 1.5em;
	position: relative;
	top: 0.4em;
	right: -0.5em;
}

.SelectClientDialog .listWrapper {
	width: 100%;
}

.SelectClientDialog .buttons {
	margin: 1em auto 0;
}

.SelectClientDialog .buttons .button {
	width: 7em;
}

.SelectClientDialog .buttons .button.submit {
	margin-right: 1em;
}

.SelectClientDialog .client {
	text-align: center;
	padding: 0.5em;
	font-size: 1.1em;
	border: 0.1em solid #DDD;
	margin-bottom: 0.2em;
}

.SelectClientDialog .ClientSearch-clientLoader {
	display: block;
	margin: 1em auto 0;
}

.SelectClientDialog .ClientSearch-noClientsFoundMessage {
	margin: 1em auto 0;
	text-align: center;
	padding: 1em 1em 0;
}

.SelectClientDialog .ClientSearch-clientListWrapper {
	min-height: 5em;
	max-height: 20em;
}

.ClientDialog .wrapper {
	background-color: white;
}

.ClientDialog .title {
	text-align: center;
	padding: 0.2em;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 1em;
}

.ClientDialog .gridWrapper {
	background-color: white;
}

.ClientDialog .label {
	padding: 0.5em;
}

.ClientDialog .value {
	margin: 0.3em 0.5em;
	width: 15em;
}

.ClientDialog .buttonContainer table {
	margin: 0 auto;
}

.ClientDialog .buttonContainer {
	padding: 1em 0;
}

.ClientDialog .buttonContainer .button {
	width: 7em;
}

.ClientDialog .buttonContainer .button.submit {
	margin-right: 1em;
}

.AccountDocumentView {
	width: 100%;
	height: 100%;
}

.AccountDocumentView .docControls {
	padding: 0.5em;
	border-top: 1px solid;
	background-color: #CCC;
	text-align: center;
}

.AccountDocumentView .docBody {
	
}

.AccountDocumentView .docScroll {
	width: 100%;
}

.AccountDocumentView .docScrollBody {
	
}

.AccountDocumentView .newEstimation,.AccountDocumentView .newInvoice,.AccountDocumentView .newTransportDocument,
.AccountDocumentView .newCreditNote
	{
		font-weight: bold;
	font-size: 2em;
	border-bottom: 1px solid;
	text-align: center;
	background-color: #CCC;
	padding: 0.2em;
}

.AccountDocumentView .abortButton,.AccountDocumentView .modifyDocument,.AccountDocumentView .createInvoice,.AccountDocumentView .saveAsEstimation,.AccountDocumentView .convertToInvoice
	{
	margin-left: 2em;
}

.AccountDocumentView .documentMainDetails {
	margin-top: 0.5em;
}

.AccountDocumentView .clientName {
	font-size: 1.5em;
}

.AccountDocumentView .label {
	font-weight: bold;
	font-size: 1.3em;
	padding: 0.2em 2em 0.7em 0;
	width: 12em;
}

.AccountDocumentView .sublabel {
	font-weight: bold;
	font-size: 1.3em;
	padding: 0.3em 0.6em 0.2em 0;
}

.AccountDocumentView .sublabel.date {
	
}

.AccountDocumentView input[type=text].box {
	width: 15em;
}

.AccountDocumentView .addressBox .loadDefaultsButton {
	margin: 0 0 0 3em;
}

.AccountDocumentView .addressBox {
	margin: 1.5em 0 0;
}

.AccountDocumentView .addressBox .box {
	margin: 0.2em 0.5em 0.2em 0.2em;
}

.AccountDocumentView select {
	padding: 0.2em;
}

.AccountDocumentView .sublabel.time {
	margin-left: 2em;
}

.AccountDocumentView .modifyButton,.AccountDocumentView .createButton {
	margin-left: 2em;
}

.AccountDocumentView .number {
	width: 2em;
	text-align: center;
}

.AccountDocumentView .note,.AccountDocumentView .paymentNote {
	width: 40em;
	height: 2em;
}

.AccountDocumentView .itemTableContainer {
	margin: 1em 0;
	border: 0.1em solid #EEE;
	padding: 2em;
}

.AccountDocumentView .newItemContainer {
	margin-top: 2em;
	background-color: #EEE;
	padding: 1em;
	border: 0.1em solid #CCC;
}

.AccountDocumentView .itemTable {
	margin: 0 auto;
}

.AccountDocumentView .smallLabel {
	font-weight: bold;
	padding: 0.4em 0 0.4em 0;
}

.AccountDocumentView .tax {
	position: relative;
	top: -0.2em;
}

.AccountDocumentView .item {
	width: 25em;
	min-height: 5em;
}

.AccountDocumentView .quantity {
	width: 4em;
}

.AccountDocumentView .unitOfMeasure {
	width: 6em;
}

.AccountDocumentView .price {
	width: 6em;
}

.AccountDocumentView .quantityContainer,.AccountDocumentView .unitOfMeasureContainer,.AccountDocumentView .priceContainer,.AccountDocumentView .taxContainer
	{
	margin-left: 1em;
}

.AccountDocumentView .addButtonContainer {
	padding: 1.6em 0 0 0.5em;
}

.AccountDocumentView .totalContainer.totalTax,.AccountDocumentView .totalContainer.totalAfterTaxes
	{
	margin-left: 4em;
}

.AccountDocumentView .totalContainer .label {
	text-align: center;
	padding: 0.4em;
}

.AccountDocumentView .itemTableScroller {
	max-height: 400px;
}

.AccountDocumentView .totalContainer .total {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	background-color: #888;
	padding: 0.5em;
	text-align: center;
	border-radius: 0.5em;
}

.BootstrapDialog .welcomeMessage {
	background-color: #FFFFB1;
	padding: 1em;
	border: 0.1em solid #333;
	width: 30em;
}

.BootstrapDialog .bootstrapDialogBody {
	background-color: #FFE;
	padding: 0.5em;
}

.BootstrapDialog .gridContainer {
	margin: 1em auto;
	width: 22em;
}

.BootstrapDialog .submit {
	margin: 0 auto;
	display: block;
}

.BootstrapDialog .ValidatedListBox,.BootstrapDialog .RichTextBox {
	width: 20em;
	margin: 0.3em;
}

.BootstrapDialog .ValidatedListBox,.BootstrapDialog .RichTextBox.RichTextBox-labelStyle
	{
	color: #666;
	font-style: italic;
}

.BootstrapDialog .ValidatedListBox.ValidatedWidget-validationOk {
	font-style: normal;
	color: inherit;
}

.ValidatedWidget-validationOk {
	border-color: #4DE133;
	background-color: #DEFFD8;
}

.
.ValidatedWidget-validationError {
	border-color: #E32424;
	background-color: #F9E0E0;
}

.ValidationBaloonMessage-validationMessage {
	background-color: #F9E0E0;
	border: 0.1em solid red;
	border-radius: 0.5em;
	padding: 0.3em;
	margin-left: 5px;
}

.BusinessView .ValidatedTextBox {
	width: 25em;
	margin: 0.3em 0;
}

.BusinessView .logoContainerWrapper {
	padding: 1em;
}

.BusinessView .gridContainer {
	padding: 1em;
}

.BusinessView .businessLabel {
	margin-right: 1em;
}

.BusinessView .upperPart {
	margin-top: 2em;
}

.BusinessView .exportButtonsContainer {
	margin-top: 1em;
}

.BusinessView .exportButtonsContainer .exportButton {
	margin-right: 1em;
	text-transform: capitalize;
}

.BusinessView .exportDataContainer {
	margin-top: 2em;
}

.BusinessView .sectionLabel {
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;
}

.WestView .ClientSearch-clientListWrapper {
	width: 100%;
}

.WestView .ClientSearch-resetFilter {
	cursor: pointer;
	width: 1.5em;
	position: relative;
	top: 0.8em;
	right: 0.5em;
}

.WestView .ClientSearch-clientListWrapper .ClientSearch-clientLoader {
	display: block;
	margin: 2em auto 0;
}

.WestView .ClientSearch-clientListWrapper .ClientSearch-noClientsFoundMessage
	{
	margin: 2em auto 0;
	text-align: center;
	padding: 1em 3em 0;
}

.GoPremiumDialog {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.GoPremiumDialog .premiumBody {
	background-color: white;
	width: 35em;
	padding: 2em;
}

.GoPremiumDialog .premiumBody .closeButton {
	width: 1.5em;
	position: absolute;
	right: 1em;
	top: 1em;
	cursor: pointer;
}

.GoPremiumDialog h2 {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
}

.GoPremiumDialog p {
	font-size: 1.2em;
	text-align: justify;
}

.GoPremiumDialog p.par1 {
	margin-top: 1em;
}

.GoPremiumDialog p.par2 {
	margin-top: 2em;
}

.GoPremiumDialog p.par3 {
	margin-top: 2em;
}

.GoPremiumDialog .goPremium {
	text-align: center;
	margin-top: 2em;
	border: 0.1em solid #B9F2B3;
	background-color: #66C25B;
	font-size: 1.2em;
}

.GoPremiumDialog .noThanks {
	text-align: center;
	margin-top: 1em;
	cursor: pointer;
	font-size: 1.2em;
}

.GoPremiumDialog .noThanks:HOVER {
	text-decoration: underline;
}