<div id="selectTransportDocumentsDialog" class="modal fade select-multiple-td-dialog" tabindex="-1" aria-hidden="true"
	data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Create Invoice from multiple Transport Documents</h4>
				</div>

				<div class="scroller" data-always-visible="1" data-rail-visible="0">
				
					<div ng-repeat="d in docs" class="well well-sm details" 
					    ng-class="{selected: selectedSet[d.id]}"
						ng-click="toggleElement(d.id)">
						<input ng-checked="selectedSet[d.id]" type="checkbox"
							style="width: 20px; height: 20px;"> <strong class="documentId">{{d.documentID}}</strong> <span
							class="date">{{d.accountingDocumentDate | date:"dd MMMM yyyy" }}</span> <span class="n-packages label label-info">{{d.numberOfPackages}}
							<span ng-if="d.numberOfPackages > 1">packages</span><span ng-if="d.numberOfPackages <= 1">package</span>
						</span> <span class="total">{{d.total | currency }}</span>

						<button class="btn btn-sm dark pull-right" ng-click="openUrl($event, d.id)">Open</button>

					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn green" ng-disabled="!selectedSet" ng-click="ok()">Continue</button>
			</div>
		</div>
	</div>
</div>