<form name="form" class="update-price" novalidate>
    
    <!-- Select price type -->
    <span class="type-span" ng-show="price.id && (!editMode && price.priceType === PRICE_TYPE.FIXED) || (editMode && priceListName === DEFAULT_PRICELIST_NAME)">Prezzo fisso</span>
    <span class="type-span" ng-show="price.id && !editMode && price.priceType === PRICE_TYPE.DERIVED">Variazione Percentuale</span>
    <select ng-show="editMode && priceListName !== DEFAULT_PRICELIST_NAME" 
            ng-class="{'has-error' : form.priceType.$invalid, 'has-success' : form.priceType.$valid}"
            class="form-control input-medium type-input" 
            style="display: inline;" 
            name="priceType" 
            ng-model="priceType" 
            required>
        <option value="FIXED">Prezzo fisso</option>
        <option value="DERIVED">Variazione Percentuale</option>
    </select>
    
    <!-- Select price value -->
    <span class="price-span" ng-show="price.id && !editMode">
        <span ng-show="price.priceType === PRICE_TYPE.DERIVED && price.priceValue > 0">+</span>
        {{price.priceValue}}
        <span ng-show="price.priceType === PRICE_TYPE.DERIVED">%</span>
        <span ng-show="price.priceType === PRICE_TYPE.FIXED">€</span>
    </span>
    
    <input ng-show="editMode && priceType === PRICE_TYPE.DERIVED" 
           ng-class="{'has-error' : form.priceValueDerived.$invalid, 'has-success' : form.priceValueDerived.$valid}" 
           type="text"
           n-smart-percentage 
           name="priceValueDerived" 
           style="display: inline;" 
           maxlength="50" 
           ng-model="priceValueDerived" 
           class="form-control input-small price-input" 
           placeholder="e.g. '-10'" 
           required>
           
    <input ng-show="editMode && priceType === PRICE_TYPE.FIXED" 
           ng-class="{'has-error' : form.priceValueFixed.$invalid, 'has-success' : form.priceValueFixed.$valid}"  
           type="text" 
           n-smart-price 
           name="priceValueFixed" 
           style="display: inline;"  
           maxlength="50" 
           ng-model="priceValueFixed" 
           class="form-control input-small price-input" 
           placeholder="e.g. '23,45'" 
           required>
           
    <button 
        class="btn btn-sm edit"
        ng-class="{'blue': price.id, 'green': !price.id}" 
        ng-show="!editMode" 
        ng-click="edit()">
        <i ng-show="price.id" class="fa fa-edit"></i>
        <i ng-show="!price.id" class="fa fa-plus"></i>
    </button>
    
    <button 
        class="btn btn-sm red remove" 
        ng-show="!editMode && price.id && priceListName !== DEFAULT_PRICELIST_NAME" 
        ng-click="remove()">
        <i class="fa fa-trash-o"></i>
    </button>
    
    <button 
        ng-disabled="(form.priceValueFixed.$valid || form.priceValueDerived.$invalid) && (form.priceValueFixed.$invalid || form.priceValueDerived.$valid)"
        class="btn btn-sm blue save" 
        ng-show="editMode" 
        ng-click="save()">
        <i class="fa fa-check"></i>
    </button>
        
    <button 
        class="btn btn-sm cancel" 
        ng-show="editMode" 
        ng-click="cancel()">
        <i class="fa fa-ban"></i>
    </button>

</form>