body {
	font-size: 14px;
	color: #333;
}

button {
	padding: 0.5em;
	color: white;
	font-size: 1em;
	cursor: pointer;
	font-weight: bold;
	background-color: #EEE;
	border: 0.1em solid #DDD;
	color: #333;
}

button:HOVER {
	background-color: #DDD;
	border: 0.1em solid #EEE;
	color: #EEE;
}

* {
	font-family: Arial, sans-serif, serif;
}

input[type="text"],input[type="password"] {
	border: 0.1em solid #CCC;
	padding: 0.4em;
}

input[type="text"]:HOVER,input[type="password"]:HOVER {
	border: 0.1em solid #000;
}

select {
	padding: 0.4em;
	background-color: white;
	border: 0.1em solid #CCC;
}

select:HOVER {
	background-color: #EEE;
}

textarea {
	padding: 0.4em;
	border: 0.1em solid #CCC;
}

textarea:HOVER {
	border: 0.1em solid #000;
}

.header {
	border-bottom: 0.2em solid #EEE;
}

.header .logo {
	height: 2.5em;
	float: left;
}

.header .stats {
	float: left;
	font-size: 1.5em;
	padding-bottom: 0.5em;
	margin-left: 5em;
	padding-top: 0.5em;
}

.header .exitButton {
	float: right;
	height: 2.5em;
	width: 6em;
}

.header .productName {
	float: left;
	font-size: 2.5em;
	font-weight: bold;
}

.header .clients,.header .invoices,.header .totalAmount {
	margin-left: 2.5em;
}

.header .value {
	margin-left: 0.7em;
	font-weight: bold;
}

.AuthDialog {
	background-color: white;
	padding: 2em;
}

.AuthDialog .authDialog {
	
}

.AuthDialog .username,.AuthDialog .password {
	width: 15em;
	margin-left: 2em;
}

.AuthDialog .password,.AuthDialog .passwordLabel {
	margin-top: 1em;
}

.AuthDialog .submit {
	margin-top: 2em;
	text-align: center;
	width: 100%;
}

.AuthDialog .submitContainer {
	margin-left: auto;
	margin-right: auto;
	width: 8em;
}

.Novabill {
	margin: 0 auto;
	background-color: white;
	padding: 20px 20px 0;
	min-height: 600px;
	border-top: 1px solid #DDD;
	border-right: 1px solid #AAA;
}

.HomeView .homeBody {
	margin-top: 20px;
}

.ClientView .centralPanel {
	text-align: center;
	padding: 20px 0;
}

.ClientView .newInvoice {
	border: 1px solid #B9F2B3;
	background-color: #66C25B;
	color: white;
	font-size: 1.5em;
}

.ClientView .newInvoice:HOVER {
	border: 1px solid #2F9524;
}

.ClientView .clientName {
	font-size: 2em;
	font-weight: bold;
	background-color: #EEE;
	padding: 0.5em;
	text-align: center;
}

.ClientView .clientDetailsContainer {
	padding: 1em;
	background-color: #EEE;
	margin-left: auto;
}

.ClientView .clientDetails {
	min-width: 30em;
	padding: 0.5em;
	font-size: 1.2em;
}

.ClientView .clientDetailsContainer .modifyClient,.ClientView .clientDetailsContainer .cancelClient
	{
	padding: 0.5em;
	font-weight: bold;
}

.ClientView .clientDetailsContainer .modifyClient:HOVER,.ClientView .clientDetailsContainer .cancelClient:HOVER
	{
	text-decoration: underline;
	cursor: pointer;
}

.HomeView .homeBody {
	width: 100%;
}

.panel {
	border: 0.2px solid #DDD;
	padding: 1em;
	background-color: #EEE;
	border-radius: 1em;
	margin: 0 auto;
}

.ClientView .listWrapper {
	width: 60%;
}

.HomeView .listWrapper {
	width: 60%;
}

.HomeView .invoiceList {
	width: 60%;
}

.HomeView .clientList {
	
}

.MainWidget .centerContainer {
	padding: 1em;
}

.MainWidget .westContainer {
	
}

.MainWidget .southContainer .changeButton {
	background-color: white;
	border: 0.1em solid #CCC;
	color: #CCC;
	margin: 0 0.3em 0.1em;
}

.MainWidget .southContainer .changeButton:HOVER {
	background-color: #EEE;
	border: 0.1em solid #DDD;
	color: #333;
}

.MainWidget .banner {
	background-color: #EEE;
	text-align: center;
	height: 1.5em;
	padding: 0.5em 1em 0;
}

.MainWidget .banner .name {
	font-weight: bold;
	font-size: 1.1em;
}

.MainWidget .banner .address {
	font-size: 1.0em;
	margin-left: 0.5em;
}

.MainWidget .banner .phoneAndFax {
	font-size: 1.0em;
	margin-left: 0.5em;
}

.MainWidget .banner .vatID {
	font-size: 1.0em;
	margin-left: 0.5em;
}

.InvoiceList .client,.InvoiceList .invoice {
	padding: 1px 10px 5px 0;
	font-size: 1em;
	border: 1px solid #DDD;
	background-color: white;
}

.InvoiceList .client.clicked,.InvoiceList .invoice.clicked {
	border: 1px solid #333;
}

.InvoiceList .pdf {
	width: 2em;
	height: 2em;
}

.InvoiceList .details .tools {
	text-align: right;
}

.InvoiceList .id {
	color: white;
	background-color: #888;
	padding: 1px 2px;
}

.InvoiceList .date {
	padding: 0 20px;
}

.InvoiceList .name {
	font-weight: bold;
}

.InvoiceList .details {
	padding: 5px;
}

.westContainer .homeButton {
	border-top-width: 0.1em;
	border-bottom-width: 0.1em;
	border-left: none;
	border-right: none;
	border-color: #EEE;
	border-style: solid;
	background-color: transparent;
	padding: 0.5em 0.1em;
	font-size: 1.5em;
	cursor: pointer;
	font-weight: bold;
	margin: 2.1em auto 0;
	width: 100%;
	text-align: center;
}

.westContainer .homeButton:HOVER {
	background-color: #EEE;
}

.westContainer .homeButton.selected {
	background-color: #EEE;
	border-top-width: 0.2em;
	border-bottom-width: 0.2em;
	border-color: #DDD;
	border-style: solid;
	border-left: none;
	border-right: none;
	padding: 0.4em 0.1em;
}

.westContainer {
	border-right: 1px solid #EEE;
}

.westContainer .cellList {
	padding: 10px;
}

.westContainer .clientsHeader {
	width: 100%;
}

.westContainer .clients {
	font-size: 2em;
	margin-top: 1em;
	margin-left: 0.5em;
}

.ClientWidget {
	background-color: #EEE;
	margin: 3em 0;
	border: 0.2em solid #DDD;
	padding: 0.2em;
}

.westContainer .client {
	border: 0.1em solid #EEE;
	padding: 2px;
	margin: 0.1em 0;
}

.westContainer .client:HOVER {
	background-color: #EEE;
}

.ClientWidget .name,.westContainer .client .name {
	font-weight: bold;
}

.westContainer .addClient {
	border: 0.1em solid #B9F2B3;
	background-color: #66C25B;
	padding: 5px 10px;
	color: white;
	font-size: 1.0em;
	cursor: pointer;
	font-weight: bold;
	margin-top: 2.1em;
}

.westContainer .addClient:HOVER {
	border: 1px solid #2F9524;
}

.westContainer .filterClient {
	margin: 0.5em 1em;
	width: 20em;
}

.Dialog {
	z-index: 2;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: literal("alpha(opacity=30)");
	z-index: 2;
}

.gwt-PopupPanel {
	z-index: 2;
}

.gwt-DatePicker {
	border: 1px solid #ccc;
	border-top: 1px solid #999;
	cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
	outline: none;
}

.datePickerDays {
	width: 100%;
	background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
	font-size: 85%;
	text-align: center;
	padding: 4px;
	outline: none;
	font-weight: bold;
	color: #333;
	border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
	background: #fff;
	padding: 0px 4px 2px;
	cursor: default;
	color: #666;
	font-size: 70%;
	font-weight: normal;
}

.datePickerDay {
	padding: 4px 7px;
	cursor: hand;
	cursor: pointer;
}

.datePickerDayIsWeekend {
	background: #f7f7f7;
}

.datePickerDayIsFiller {
	color: #999;
	font-weight: normal;
}

.datePickerDayIsValue {
	background: #d7dfe8;
}

.datePickerDayIsDisabled {
	color: #AAAAAA;
	font-style: italic;
}

.datePickerDayIsHighlighted {
	background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
	background: #d7dfe8;
}

.datePickerDayIsToday {
	padding: 3px;
	color: #fff;
	background: url(images/hborder.png) repeat-x 0px -2607px;
}

.datePickerMonthSelector {
	width: 100%;
	padding: 1px 0 5px 0;
	background: #fff;
}

td.datePickerMonth {
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size: 100%;
	font-weight: bold;
	color: #333;
}

.datePickerPreviousButton,.datePickerNextButton {
	font-size: 120%;
	line-height: 1em;
	color: #3a6aad;
	cursor: hand;
	cursor: pointer;
	font-weight: bold;
	padding: 0px 4px;
	outline: none;
}

.ClientDialog {
	
}

.ClientDialog .gridWrapper {
	background-color: white;
}

.ClientDialog .label {
	padding: 0.5em;
}

.ClientDialog .value {
	margin: 0.5em;
	width: 15em;
}

.ClientDialog .buttonContainer table {
	margin: 0 auto;
}

.ClientDialog .buttonContainer {
	padding: 1em 0;
}

.InvoiceView .newInvoice {
	font-weight: bold;
	font-size: 2em;
}

.InvoiceView .invoiceMainDetails {
	margin-top: 0.5em;
}

.InvoiceView .clientName {
	font-size: 1.5em;
}

.InvoiceView .label {
	font-weight: bold;
	font-size: 1.3em;
	padding: 0.2em 2em 0.7em 0;
}

.InvoiceView .modifyButton,.InvoiceView .createButton {
	margin-left: 2em;
}

.InvoiceView .number {
	width: 2em;
	text-align: center;
}

.InvoiceView .paymentNote,.InvoiceView .note {
	width: 40em;
	height: 2em;
}

.InvoiceView .itemTableContainer {
	margin: 1em 0;
	border: 0.1em solid #EEE;
	padding: 2em;
}

.InvoiceView .newItemContainer {
	
}

.InvoiceView .smallLabel {
	font-weight: bold;
	padding: 0.4em 0 0.4em 0;
}

.InvoiceView .tax {
	position: relative;
	top: -0.2em;
}

.InvoiceView .item {
	width: 25em;
}

.InvoiceView .quantity {
	width: 4em;
}

.InvoiceView .unitOfMeasure {
	width: 6em;
}

.InvoiceView .price {
	width: 6em;
}

.InvoiceView .quantityContainer,.InvoiceView .unitOfMeasureContainer,.InvoiceView .priceContainer,.InvoiceView .taxContainer
	{
	margin-left: 1em;
}

.InvoiceView .addButtonContainer {
	padding: 1.6em 0 0 0.5em;
}

.InvoiceView .totalContainer.totalTax,.InvoiceView .totalContainer.totalAfterTaxes
	{
	margin-left: 4em;
}

.InvoiceView .totalContainer .label {
	text-align: center;
	padding: 0.4em;
}

.InvoiceView .totalContainer .total {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	background-color: #888;
	padding: 0.4em 1em;
	text-align: center;
	border-radius: 0.5em;
}

.BootstrapDialog .welcomeMessage {
	background-color: #FFFFB1;
	padding: 1em;
	border: 0.1em solid #333;
	width: 30em;
}

.BootstrapDialog .bootstrapDialogBody {
	background-color: #FFE;
	padding: 0.5em;
}

.BootstrapDialog .gridContainer {
	margin: 1em auto;
	width: 22em;
}

.BootstrapDialog .submit {
	margin: 0 auto;
	display: block;
	width: 10em;
}

.BootstrapDialog .RichTextBox {
	width: 20em;
	margin: 0.3em;
}

.BootstrapDialog .RichTextBox.RichTextBox-labelStyle {
	color: #666;
	font-style: italic;
}

.ValidatedTextBox-validationOk {
	border-color: #4DE133;
	background-color: #DEFFD8;
}

.ValidatedTextBox-validationError {
	border-color: #E32424;
	background-color: #F9E0E0;
}

.ValidationBaloonMessage-validationMessage {
	background-color: #F9E0E0;
	border: 0.1em solid red;
	border-radius: 0.5em;
	padding: 0.3em;
	margin-left: 5px;
}


.BusinessView .ValidatedTextBox {
	width: 25em;
}

.BusinessView .logoContainerWrapper {
	padding: 1em;
}

.BusinessView .gridContainer {
	padding: 1em;
}

.BusinessView .businessLabel{
	margin-right: 1em;
}

.BusinessView {
	
}

.BusinessView {
	
}

.BusinessView {
	
}



