<div class="container-fluid clients-detail">

	<div class="row">
		<div class="col-md-12">

			<!-- BEGIN PAGE TITLE & BREADCRUMB-->
			<ul class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a href="../">Dashboard</a></li>
				<li><a href=".">{{'CLIENTS' | translate}}</a><i class="icon-angle-right"></i></li>
				<li><span>{{name}}</span></li>
			</ul>
			<!-- END PAGE TITLE & BREADCRUMB-->

			<div class="client-detail">
				<div class="jumbotron">
					<h2><strong>
						{{client.name}}
						</strong>
					</h2>
					<p>{{address}}</p>
					<p>{{contactInfo}}</p>
					<p ng-if="website"><a href="{{websiteUrl}}" target="_blank">{{website}}</a></p>
					<p>{{businessDetails}}</p>

				</div>

				<div style="height: 40px;" class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8">
					<div class="pull-right">
						<a href="javascript: void(0)" ng-click="editClient()" class="btn btn-sm blue">
						  <i class="fa fa-edit"></i>
							{{'EDIT' | translate}}</a> 
						<a href="javascript: void(0)" ng-click="removeClient()" class="btn btn-sm red">
						  <i class="fa fa-trash-o"></i> {{'DELETE' | translate}}
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12">

			<div class="tabbable tabbable-custom">
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a href="#tab_documents" data-toggle="tab"><i class="fa fa-file"></i> {{'DOCUMENTS' | translate}}</a></li>
					<li class="" ng-click="loadClientAddresses()"><a href="#tab_additional_addresses" data-toggle="tab"><i class="fa fa-map-marker"></i> {{'ADDRESSES_MANAGEMENT' | translate}}</a></li>
				</ul>
				<div class="tab-content">

					<div class="tab-pane active" id="tab_documents">
					
			           <div class="tabbable tabbable-custom">
			                <ul class="nav nav-tabs">
			                    <li class="active"><a href="#tab_invoices" data-toggle="tab">{{'INVOICES' | translate}}</a></li>
			                    <li class=""><a href="#tab_transport_documents" data-toggle="tab" ng-click="loadTransportDocuments()">
			                       {{'TRANSPORT_DOCUMENTS' | translate}}</a></li>
			                    <li class=""><a href="#tab_estimations" data-toggle="tab" ng-click="loadEstimations()">{{'ESTIMATIONS' | translate}}</a></li>
			                    <li class=""><a href="#tab_credit_notes" data-toggle="tab" ng-click="loadCreditNotes()">{{'CREDIT_NOTES' | translate}}</a></li>
			                </ul>
			                <div class="tab-content" style="position: relative;">
			
			                    <div class="tab-pane active" id="tab_invoices">
			                        <button type="button" class="btn green new-invoice" style="margin: 0 auto 40px;" ng-click="newInvoiceClick()">{{'NEW_INVOICE' | translate}}</button>
			                        <n-year-selector class="pull-right" document-type="invoices" callback="loadInvoices(year)"></n-year-selector>
			                        <img class="spinner" ng-show="invoiceData===null" src="../../private_assets/img/ajax-loading.gif">
			                        <p class="no-data-message text-center text-info" ng-show="invoiceData && invoiceData.length===0">{{'NO_DATA' | translate}}</p>
			                        <n-invoice invoice="inv" bottom-up-menu="!$first && $last" ng-repeat="inv in invoiceData"></n-invoice>
			                    </div>
			
			                    <div class="tab-pane fade" id="tab_transport_documents">
			                        <button type="button" class="btn green new-credit-note" style="margin: 0 auto 40px;" ng-click="newTransportDocumentClick()">{{'NEW_TRANSPORT_DOCUMENT' | translate}}</button>
			                        <n-year-selector class="pull-right" document-type="transportDocuments"
			                            callback="loadTransportDocuments(year)"></n-year-selector>
			                        <img class="spinner" ng-show="!transportDocumentData" src="../../private_assets/img/ajax-loading.gif">
			                        <p class="no-data-message text-center text-info"
			                            ng-show="transportDocumentData && transportDocumentData.length===0">{{'NO_DATA' | translate}}</p>
			                        <n-transport-document transport-document="td" bottom-up-menu="!$first && $last"
			                            ng-repeat="td in transportDocumentData"></n-transport-document>
			                    </div>
			
			                    <div class="tab-pane" id="tab_estimations">
			                        <button type="button" class="btn green new-credit-note" style="margin: 0 auto 40px;" ng-click="newEstimationClick()">{{'NEW_ESTIMATION' | translate}}</button>
			                        <n-year-selector class="pull-right" document-type="estimations" callback="loadEstimations(year)"></n-year-selector>
			                        <img class="spinner" ng-show="!estimationData" src="../../private_assets/img/ajax-loading.gif">
			                        <p class="no-data-message text-center text-info" ng-show="estimationData && estimationData.length===0">{{'NO_DATA' | translate}}</p>
			                        <n-estimation estimation="est" bottom-up-menu="!$first && $last" ng-repeat="est in estimationData"></n-estimation>
			                    </div>
			
			                    <div class="tab-pane" id="tab_credit_notes">
			                        <button type="button" class="btn green new-credit-note" style="margin: 0 auto 40px;" ng-click="newCreditNoteClick()">{{'NEW_CREDIT_NOTE' | translate}}</button>
			                        <n-year-selector class="pull-right" document-type="creditNotes" callback="loadCreditNotes(year)"></n-year-selector>
			                        <img class="spinner" ng-show="!creditNoteData" src="../../private_assets/img/ajax-loading.gif">
			                        <p class="no-data-message text-center text-info" ng-show="creditNoteData && creditNoteData.length===0">{{'NO_DATA' | translate}}</p>
			                        <n-credit-note credit-note="cn" bottom-up-menu="!$first && $last" ng-repeat="cn in creditNoteData"></n-credit-note>
			                    </div>
			                </div>
			            </div>
					
					</div>

					<div class="tab-pane" id="tab_additional_addresses">
					
					   <button type="button" class="btn green new-invoice" style="margin: 0 auto 20px;" ng-click="newAddressClick()">
                           {{'NEW_ADDRESS' | translate}}
                       </button>
					
					   <div class="well" style="background-color: #E6E6E6; position: relative;">
							<div>
								<div style="text-transform: uppercase; font-weight: bold; font-size: larger;">{{'LEGAL_ADDRESS' | translate}}</div>
								<div>
									<div>{{client.name}}</div>
									<div>{{client.address}}</div>
									<div ng-show="client.postcode || client.city">
										{{client.postcode}}<span ng-show="client.postcode">&nbsp;-&nbsp;</span>{{client.city}}
									</div>
									<div>
	                                    {{client.province}}<span ng-show="client.province">&nbsp;-&nbsp;</span>{{client.country}}
	                                </div>
								</div>
							</div>
							<div style="position: absolute; right: 20px; bottom: 15px;">
								<a href="javascript: void(0)" ng-click="editLegalAddress()" class="btn btn-sm blue"> 
								    <i class="fa fa-edit"></i>
									{{'EDIT' | translate}}
								</a>
							</div>
						</div>
					   
					   <div class="well" style="position: relative;" ng-repeat="ca in clientAddresses">
                            <div style="text-transform: uppercase; font-weight: bold; font-size: larger;">{{ca.name}}</div>
							<div>
								<div>{{ca.companyName}}</div>
								<div>{{ca.address}}</div>
								<div ng-show="ca.postcode || ca.city">
									{{ca.postcode}}<span ng-show="ca.postcode">&nbsp;-&nbsp;</span>{{ca.city}}
								</div>
								<div>
                                    {{ca.province}}<span ng-show="ca.province">&nbsp;-&nbsp;</span>{{ca.country}}
                                </div>
							</div>

							<div  style="position: absolute; right: 20px; bottom: 15px;">
		                        <a href="javascript: void(0)" ng-click="editClientAddress(ca.id)" class="btn btn-sm blue">
		                            <i class="fa fa-edit"></i>
		                            {{'EDIT' | translate}}</a> 
		                        <a href="javascript: void(0)" ng-click="removeClientAddress(ca.id)" class="btn btn-sm red">
		                            <i class="fa fa-trash-o"></i> 
		                            {{'DELETE' | translate}}
		                        </a>
		                    </div>
                       </div>
					   
					</div>

				</div>
			</div>

		</div>
	</div>

	<n-select-transport-documents-dialog></n-select-transport-documents-dialog>
	<n-removal-dialog></n-removal-dialog>
</div>
