<div class="client-detail">
	<div class="hero-unit">
	    <a class="btn bigicn-only big back-button" href="#/"><i class="m-icon-big-swapleft"></i> indietro</a>
	    <br>
		<h1 ng-click="test()">{{name}}&nbsp;<small>{{businessDetails}}</small></h1>
		<br>
		<p>{{address}}</p>
		<p>{{contactInfo}}</p>
		<p >{{website}}</p>
		
		<div style="float: right; margin-top: 10px;">
		  <a href="javascript: void(0)" ng-click="editClient(client.id)" class="btn mini red"><i class="icon-edit"></i> Edit</a>
		  <a href="javascript: void(0)" ng-click="removeClient(name, client.id)"  class="btn mini red"><i class="icon-trash"></i> Delete</a>
		</div>
	</div>

	<div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_invoices" data-toggle="tab">Invoice</a></li>
            <li class=""><a href="#tab_transport_documents" data-toggle="tab" ng-click="loadDocs('transportDocument')">Transport Documents</a></li>
            <li class=""><a href="#tab_estimations" data-toggle="tab" ng-click="loadDocs('estimation')">Estimations</a></li>
            <li class=""><a href="#tab_credit_notes" data-toggle="tab" ng-click="loadDocs('creditNote')">Credit Notes</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_invoices">
                <img class="spinner" ng-show="invoiceData===null" src="../../private_assets/img/ajax-loading.gif">
                <novabill-invoice invoice="inv" bottom-up-menu="$last" ng-repeat="inv in invoiceData" />
            </div>
            
            <div class="tab-pane" id="tab_transport_documents">
                <img class="spinner" ng-show="!transportDocumentData" src="../../private_assets/img/ajax-loading.gif">
                <novabill-transport-document transport-document="td" ng-repeat="td in transportDocumentData" />
            </div>
            
            <div class="tab-pane" id="tab_estimations">
                <img class="spinner" ng-show="!estimationData" src="../../private_assets/img/ajax-loading.gif">
                <estimation estimation="estimation" ng-repeat="estimation in estimationData" />
            </div>
            
            <div class="tab-pane" id="tab_credit_notes">
                <img class="spinner" ng-show="!creditNoteData" src="../../private_assets/img/ajax-loading.gif">
                <credit-note credit-note="creditNote" ng-repeat="creditNote in creditNoteData" />
            </div>
        </div>
    </div>
    
    <removal-dialog></removal-dialog>

</div>