
<div class="container-fluid">
	<button type="button" class="btn red new-client" ng-click="newItem()">New Commodity</button>
	        
	<div class="commodities-filter input-icon left" style="margin-top: 20px;">
	    <i class="icon-search"></i> 
	      <input class="m-wrap" autofocus="autofocus" type="text" placeholder="Filter..." ng-model="query">
	</div>
	
	<img class="spinner" ng-show="commodities==null" src="../../private_assets/img/ajax-loading.gif">
	
	<novabill-commodity class="commodity" commodity="cm" ng-repeat="cm in commodities | filter:query"></novabill-commodity>        

</div>
