.commodities .commodities-filter {
	margin: 20px 0;
}

.commodities-detail .type {
	position: absolute;
	left: 0;
	top: 0;
	font-size: medium;
}

.commodities-detail .jumbotron {
	position: relative;
}

.commodities-detail .jumbotron.service {
    border-left: 10px solid #428bca;
}

.commodities-detail .jumbotron.product {
    border-left: 10px solid #3cc051;
}

.commodities-detail table.table td{
}

.commodities-detail table.details tbody {
	font-size: 13px;
}

.commodities-detail tr.defaultPriceList {
	font-size: 13px;
}

.commodities-detail tr.priceList {
    font-size: 13px;
}

.commodities-detail tr.priceList td {
	padding: 20px 8px;
}

.commodities-detail tr.defaultPriceList td {
    padding: 20px 8px;
}