/*
 *  DOCUMENTS
 */
 
.document-well {
    cursor: pointer;
}

.document-well:HOVER {
    border: 1px solid #555;
}

.document-well .date {
    margin-left: 10px;
}

.document-well .clientName {
    margin-left: 10px;
}

.document-well .print {
    margin-right: 10px;
}

.document-well .options {
	margin-right: 20px;
}


/*
 *  COMMODITY
 */
 .commodity {
    cursor: pointer;
 }
 
 .commodity .id {
    margin-left: 10px;
 }
 
 .commodity .type {
    width: 60px;
 }
 
 .commodity:HOVER {
    border: 1px solid #555;
}