.new-invoice {
    margin-right: 10px;
}

div.invoices {
	padding: 20px;

}

.invoices .spinner {
    margin: 0 auto;
    display: block;
}

.suffix-selector {
    margin-right: 20px;
}

.new-doc-id-class {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 16px;
}

.invoices-container {
    min-height: 500px;
}