.statistics-general .ranking-entry {
	padding: 5px 10px;
}

.statistics-general .ranking-entry .total {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.statistics-general .ranking-entry .entity-name {
    padding: 5px 10px;
}