database.driverClassName.value=org.postgresql.Driver
database.url.value=jdbc:postgresql://localhost/novabill
database.username.value=novadart
database.password.value=novadart

hibernate.hbm2ddl.auto.value=create
hibernate.search.default.indexBase.value=/var/novabill/lucene.indexBase
hibernate.show_sql.value=true
hibernate.hbm2ddl.import_files.value=/import.sql,/test-rows.sql

#cache
ehcache.diskStore.value=/tmp/novabill-cache
ehcache.business-cache.maxElementsInMemory.value=100
ehcache.business-cache.timeToLiveSeconds.value=600
ehcache.client-cache.maxElementsInMemory.value=100
ehcache.client-cache.timeToLiveSeconds.value=600
ehcache.invoice-cache.maxElementsInMemory.value=100
ehcache.invoice-cache.timeToLiveSeconds.value=600
ehcache.creditnote-cache.maxElementsInMemory.value=100
ehcache.creditnote-cache.timeToLiveSeconds.value=600
ehcache.estimation-cache.maxElementsInMemory.value=100
ehcache.estimation-cache.timeToLiveSeconds.value=600
ehcache.transportdocument-cache.maxElementsInMemory.value=100
ehcache.transportdocument-cache.timeToLiveSeconds.value=600
ehcache.default.maxElementsInMemory.value=1000
ehcache.default.timeToLiveSeconds.value=600
ehcache.client-hib-2nd-level.maxElementsInMemory.value=100
ehcache.client-hib-2nd-level.timeToLiveSeconds.value=600
ehcache.business-hib-2nd-level.maxElementsInMemory.value=100
ehcache.business-hib-2nd-level.timeToLiveSeconds.value=600

activation.url.pattern.value=http://localhost:8080/novabill-server/activate?email=%s&token=%s
#in hours
activation.period.value=24
password.recovery.url.pattern.value=http://localhost:8080/novabill-server/password-recovery?email=%s&token=%s
#in hours
password.recovery.period.value=24

smtp.auth.enabled.value=false
smtp.host.value=localhost
smtp.port.value=25
smtp.username.value=
smtp.password.value=
smtp.mail.registration_completed_sender.value=risto.gligorov@novadart.com

paypal.action.value=https://www.sandbox.paypal.com/cgi-bin/webscr
paypal.hostedButtonID.value=QR96B53BDX3FJ
paypal.url.value=https://www.sandbox.paypal.com/cgi-bin/webscr
paypal.email.value=nova_1337536969_biz@gmail.com
paypal.premiumOneYearItemName.value=Novadart premium membership - 1 Year
paypal.premiumOneYearMCGross.value=40.00

quota.numberOfClients.value=1
quota.numberOfInvoicesPerYear.value=1
quota.numberOfEstimationsPerYear.value=1
quota.numberOfCreditNotesPerYear.value=1
quota.numberOfTransportDocsPerYear.value=1

path.tmpdir.data_export.value=/tmp/novabill

rememberme.key=novabillRME
#in seconds
rememberme.expiration=345600

#in hours
registration.expiration.value=48
forgotpassword.expiration.value=48

pdfgen.service.url.value=http://localhost:8081
