.clients-filter {
	margin-top: 20px;
}

.new-client {
	margin-top: 10px;
}

.partition {
}

.partition .letter {
	float: left;
}

.partition .letter h2 {
    margin-top: 0;
    display: inline;
}

.partition .clients {
	margin-left: 70px;
}

.partition .clients .client {
	padding: 0 0 0 20px;
	cursor: pointer;
}

.partition .clients .client h3 {
	display: inline;
}

.partition .clients .client .address {
    margin-left: 40px;
    display: none;
}

.partition .clients .client:HOVER .address {
    display: inline;
}

.partition .clients .client:HOVER {
	background-color: #555;
	color: white;
}

.client-detail .hero-unit {
    position: relative;
}

.client-detail .spinner {
	margin: 0 auto;
    display: block;
}

.pagination ul > li > a {
	cursor: pointer;
}

.client-detail .tab-content {
	min-height: 200px;
}
