.clients-filter {
	margin-top: 10px;
}

.new-client {
    margin-top: 10px;
}

.partition {
	
}


/* .clients-list li.client-item {
	position: relative;
	padding: 10px 5px;
    border-bottom: 1px solid #eaeaea;
}

.clients-list li.client-item:HOVER {
	background: #f6f6f6;
}

 */

